<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.key_project.util.test.category"
            name="KeY Util Tests">
      </category>
      <view
            category="org.key_project.util.test.category"
            class="org.key_project.util.test.view.GraphitiEditorInViewView"
            icon="icons/symbolic_debug.gif"
            id="org.key_project.util.test.view.GraphitiEditorInViewView"
            name="Graphiti Editor In View"
            restorable="true">
      </view>
   </extension>

</plugin>
