<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.key_project.jmlediting.core.profiles">
      <profile
            class="org.key_project.jmlediting.profile.jmlref.JMLReferenceProfileAE">
      </profile>
      <profile
            class="org.key_project.jmlediting.profile.jmlref.JMLReferenceProfileBE">
      </profile>
      <profile
            class="org.key_project.jmlediting.profile.jmlref.JMLReferenceProfile">
      </profile>
   </extension>
        <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.key_project.jmlediting.profile.jmlref.refactoring.JMLRenameParticipant"
            id="org.key_project.jmlediting.profile.jmlref.renameJMLParticipant"
            name="%renameJMLParticipant">
            <enablement>
              <with variable="affectedNatures">
                <iterate operator="or">
                  <equals value="org.eclipse.jdt.core.javanature"/>
                </iterate>
              </with>
              <with variable="element">
                <instanceof value="org.eclipse.jdt.core.IField"/>
              </with>
            </enablement>
      </renameParticipant>
   </extension>
     <extension
point="org.eclipse.ltk.core.refactoring.moveParticipants">
<moveParticipant
     id="org.eclipse.jdt.junit.moveTypeParticipant"
     name="Test Move Participant"
class="org.key_project.jmlediting.profile.jmlref.refactoring.JMLMoveParticipant">
     <enablement>
       <with variable="affectedNatures">
         <iterate operator="or">
           <equals value="org.eclipse.jdt.core.javanature"/>
         </iterate>
       </with>
       <with variable="element">
         <instanceof value="org.eclipse.jdt.core.IType"/>
       </with>
     </enablement>
</moveParticipant>
         </extension>
</plugin>
