<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.key_project.jmlediting.core.profiles">
      <profile
            class="org.key_project.jmlediting.profile.jmlref.JMLReferenceProfileAE">
      </profile>
      <profile
            class="org.key_project.jmlediting.profile.jmlref.JMLReferenceProfileBE">
      </profile>
      <profile
            class="org.key_project.jmlediting.profile.jmlref.JMLReferenceProfile">
      </profile>
   </extension>

</plugin>
