<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="DbCDiagramLayoutProvider"
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="de.hentschel.visualdbc.dbcmodel.diagram.custom.layout.DbcDiagramLayoutProvider">
         <Priority
               name="High">
         </Priority>
      </layoutProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.hentschel.visualdbc.dbcmodel.diagram.general"
            class="de.hentschel.visualdbc.dbcmodel.diagram.custom.preference.DbCModelLayoutPreferencePage"
            id="de.hentschel.visualdbc.dbcmodel.diagram.custom.preference.DbCModelPreferencePage"
            name="Layout">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.hentschel.visualdbc.dbcmodel.diagram.custom.util.CustomPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="de.hentschel.visualdbc.dbcmodel.diagram.part.DbCDiagramEditorID.hideContribution"
            targetID="de.hentschel.visualdbc.dbcmodel.diagram.part.DbCDiagramEditorID">
         <menu
               id="de.hentschel.visualdbc.dbcmodel.diagram.custom.proofReferenceHidingMenu"
               label="Proof Reference Hiding"
               path="diagramMenu">
            <separator
                  name="hide">
            </separator>
         </menu>
         <action
               class="de.hentschel.visualdbc.dbcmodel.diagram.custom.action.AutomaticProofReferenceHidingEditorActionDelegate"
               icon="icons/ProfReferenceHidingShowNone.gif"
               id="de.hentschel.visualdbc.dbcmodel.diagram.custom.hideProofReferences"
               label="Hide all proof references"
               menubarPath="de.hentschel.visualdbc.dbcmodel.diagram.custom.proofReferenceHidingMenu/hide"
               state="false"
               style="radio"
               toolbarPath="hide"
               tooltip="Hide all proof references.">
         </action>
         <action
               class="de.hentschel.visualdbc.dbcmodel.diagram.custom.action.AutomaticProofReferenceHidingEditorActionDelegate"
               icon="icons/ProfReferenceHidingShowSelected.gif"
               id="de.hentschel.visualdbc.dbcmodel.diagram.custom.showSelectedProofReferences"
               label="Show only proof references of selected elements"
               menubarPath="de.hentschel.visualdbc.dbcmodel.diagram.custom.proofReferenceHidingMenu/hide"
               state="false"
               style="radio"
               toolbarPath="hide"
               tooltip="Show only proof references of selected elements.">
         </action>
         <action
               class="de.hentschel.visualdbc.dbcmodel.diagram.custom.action.AutomaticProofReferenceHidingEditorActionDelegate"
               icon="icons/ProfReferenceHidingShowAll.gif"
               id="de.hentschel.visualdbc.dbcmodel.diagram.custom.showProofReferences"
               label="Show all proof references"
               menubarPath="de.hentschel.visualdbc.dbcmodel.diagram.custom.proofReferenceHidingMenu/hide"
               state="true"
               style="radio"
               toolbarPath="hide"
               tooltip="Show all proof references.">
         </action>
      </editorContribution>
   </extension>
</plugin>
