# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):

projects/**/.gitignore
*~
system/genSrc
system/binary
system/eclipse-binary
system/lib
system/doc
*#*
system/key.jar
system/setup.jar
system/GenMakefile
system/Makefile.mk
system/resources/de/uka/ilkd/key/util/version
system/resources/de/uka/ilkd/key/util/sha1
eclipse/.classpath
eclipse/.settings
eclipse/KeYPlugin/bin
eclipse/bin
eclipse/VisualDebugger/.settings
eclipse/VisualDebugger/bin
system/argfile
system/argfile.aspects
system/argfile.generic
system/argfile.normal
system/argfile.other
system/critical.msg
system/error.msg
system/gf.msg
system/javaFiles.tmp
system/javaFiles
system/warning.msg
.DS_Store
tags
*.tgz
*.tar
.*.swp
/netbeans/eclipse/build/
/netbeans/eclipse/nbproject/private/
/netbeans/eclipse/dist/
*.class

smt-solvers
*.toc
*.aux
*.bbl
*.blg
*.len
*.log
*.nav
*.out
*.snm

/projects/SymbolicExecutionDebugger/doc/presentations/Roadmap/Roadmap.pdf
