<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.key_project.sed.ui.perspective.SymbolicDebugPerspectiveFactory"
            icon="icons/symbolic_debug.gif"
            id="org.key_project.sed.ui.perspective"
            name="Symbolic Debug">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="org.key_project.sed.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <perspectiveShortcut
               id="org.key_project.sed.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <perspectiveShortcut
               id="org.key_project.sed.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="org.key_project.sed.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="menu:org.eclipse.debug.ui.DebugView">
            <menu
                  id="org.key_project.sed.ui.symbolicDebugSubmenu"
                  label="Symbolic Execution Debugger (SED)"
                  mnemonic="S">
               <dynamic
                     class="org.key_project.sed.ui.menu.contribution.ToggleShowCompactSymbolicExecutionTreeContributionItem"
                     id="org.key_project.sed.ui.symbolicDebugSubmenu.ToggleShowCompactSymbolicExecutionTreeContributionItem">
               </dynamic>
            </menu>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.core.runtime.adapters">
         <factory
               adaptableType="org.eclipse.debug.internal.ui.views.launch.LaunchView"
               class="org.key_project.sed.ui.adapter.AdapterFactory">
            <adapter
                  type="org.eclipse.ui.views.properties.IPropertySheetPage">
            </adapter>
         </factory>
      </extension>
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
          <propertyContributor contributorId="org.key_project.sed.launchViewPropertyContributor">
              <propertyCategory category="Debug">
              </propertyCategory>
          </propertyContributor>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
          <propertyTabs contributorId="org.key_project.sed.launchViewPropertyContributor">
              <propertyTab label="Node" category="Debug"
                  id="org.key_project.sed.ui.node.tab">
              </propertyTab>
          </propertyTabs>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
          <propertySections contributorId="org.key_project.sed.launchViewPropertyContributor">
              <propertySection tab="org.key_project.sed.ui.node.tab"           
               class="org.key_project.sed.ui.property.SEDDebugNodePropertySection"
               filter="org.key_project.sed.ui.property.SEDDebugNodeTreeFilter"
               id="org.key_project.sed.ui.node.tab.SEDDebugNodePropertySection">
              </propertySection>
          </propertySections>
      </extension>
      <extension
            point="org.eclipse.debug.ui.contextViewBindings">
         <perspective
               perspectiveId="org.key_project.sed.ui.perspective">
         </perspective>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="org.eclipse.debug.ui.DebugPreferencePage"
               class="org.key_project.sed.ui.preference.page.SymbolicDebugPreferencePage"
               id="org.key_project.sed.ui.preference.page.symbolic_debug"
               name="Symbolic Execution Debugger (SED)">
         </page>
      </extension>  
</plugin>
