<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.key_project.sed.ui.annotationActions" name="Annotation Actions" schema="schema/org.key_project.sed.ui.annotationActions.exsd"/>
   <extension-point id="org.key_project.sed.ui.annotationEditors" name="Annotation Editors" schema="schema/org.key_project.sed.ui.annotationEditors.exsd"/>
   <extension-point id="org.key_project.sed.ui.annotationLinkActions" name="Annotation Link Actions" schema="schema/org.key_project.sed.ui.annotationLinkActions.exsd"/>
   <extension-point id="org.key_project.sed.ui.annotationLinkEditActions" name="Annotation Link Edit Actions" schema="schema/org.key_project.sed.ui.annotationLinkEditActions.exsd"/>
   <extension-point id="org.key_project.sed.ui.annotationTypeImages" name="Annotation Type Images" schema="schema/org.key_project.sed.ui.annotationTypeImages.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.key_project.sed.ui.perspective.SymbolicDebugPerspectiveFactory"
            icon="icons/symbolic_debug.gif"
            id="org.key_project.sed.ui.perspective"
            name="Symbolic Debug">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="org.key_project.sed.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <perspectiveShortcut
               id="org.key_project.sed.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <perspectiveShortcut
               id="org.key_project.sed.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="org.key_project.sed.ui.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="menu:org.eclipse.debug.ui.DebugView">
            <menu
                  id="org.key_project.sed.ui.symbolicDebugSubmenu"
                  label="Symbolic Execution Debugger (SED)"
                  mnemonic="S">
               <dynamic
                     class="org.key_project.sed.ui.menu.contribution.ToggleShowCompactSymbolicExecutionTreeContributionItem"
                     id="org.key_project.sed.ui.symbolicDebugSubmenu.ToggleShowCompactSymbolicExecutionTreeContributionItem">
               </dynamic>
            </menu>
         </menuContribution>
         <menuContribution
               allPopups="true"
               locationURI="popup:org.eclipse.debug.ui.DebugView?after=additions">
            <command
                  commandId="org.key_project.sed.ui.expandAllCommand"
                  icon="icons/expandall.gif"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="org.key_project.sed.core.model.ISEDDebugElement">
                        </instanceof>
                        <and>
                           <instanceof
                                 value="org.eclipse.debug.core.ILaunch">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="org.key_project.sed.core.hasSEDDebugTarget">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.core.runtime.adapters">
         <factory
               adaptableType="org.eclipse.debug.internal.ui.views.launch.LaunchView"
               class="org.key_project.sed.ui.adapter.AdapterFactory">
            <adapter
                  type="org.eclipse.ui.views.properties.IPropertySheetPage">
            </adapter>
         </factory>
         <factory
               adaptableType="org.eclipse.debug.internal.ui.views.variables.VariablesView"
               class="org.key_project.sed.ui.adapter.AdapterFactory">
            <adapter
                  type="org.eclipse.ui.views.properties.IPropertySheetPage">
            </adapter>
         </factory>
         <factory
               adaptableType="org.key_project.sed.core.model.ISEDVariable"
               class="org.key_project.sed.ui.adapter.SEDVariableAdapterFactory">
            <adapter
                  type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementLabelProvider">
            </adapter>
         </factory>
         <factory
               adaptableType="org.key_project.sed.core.model.ISEDDebugTarget"
               class="org.key_project.sed.ui.adapter.SEDDebugTargetModelProxyFactoryAdapterFactory">
            <adapter
                  type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory">
            </adapter>
         </factory>
      </extension>
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
          <propertyContributor contributorId="org.key_project.sed.launchViewPropertyContributor">
              <propertyCategory category="Debug">
              </propertyCategory>
          </propertyContributor>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
          <propertyTabs contributorId="org.key_project.sed.launchViewPropertyContributor">
              <propertyTab label="Node" category="Debug"
                  id="org.key_project.sed.ui.node.tab">
              </propertyTab>
              <propertyTab
                    afterTab="org.key_project.sed.ui.node.tab"
                    category="Debug"
                    id="org.key_project.sed.ui.methodReturns.tab"
                    label="Method Returns">
              </propertyTab>
              <propertyTab
                    afterTab="org.key_project.sed.ui.node.tab"
                    category="Debug"
                    id="org.key_project.sed.ui.callStack.tab"
                    label="Call Stack">
              </propertyTab>
              <propertyTab
                    afterTab="org.key_project.sed.ui.callStack.tab"
                    category="Debug"
                    id="org.key_project.sed.ui.constraints.tab"
                    label="Constraints">
              </propertyTab>
              <propertyTab
                    afterTab="org.key_project.sed.ui.constraints.tab"
                    category="Debug"
                    id="org.key_project.sed.ui.source.tab"
                    label="Source">
              </propertyTab>
              <propertyTab
                    category="Debug"
                    id="org.key_project.sed.ui.annotations.tab"
                    label="Annotations">
              </propertyTab>
              <propertyTab
                    afterTab="org.key_project.sed.ui.source.tab"
                    category="Debug"
                    id="org.key_project.sed.ui.annotationLinks.tab"
                    label="Annotation Links">
              </propertyTab>
              <propertyTab
                    afterTab="org.key_project.sed.ui.annotations.tab"
                    category="Debug"
                    id="org.key_project.sed.ui.statistics.tab"
                    label="Statistics">
              </propertyTab>
              <propertyTab
                    category="Debug"
                    id="org.key_project.sed.ui.variablePropertyTab"
                    label="Variable">
              </propertyTab>
          </propertyTabs>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
          <propertySections contributorId="org.key_project.sed.launchViewPropertyContributor">
              <propertySection tab="org.key_project.sed.ui.node.tab"           
               class="org.key_project.sed.ui.property.SEDDebugNodePropertySection"
               filter="org.key_project.sed.ui.property.SEDDebugNodeTreeFilter"
               id="org.key_project.sed.ui.node.tab.SEDDebugNodePropertySection">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.property.CallStackPropertySection"
                    filter="org.key_project.sed.ui.property.SEDDebugNodeTreeFilter"
                    id="org.key_project.sed.ui.property.CallStackPropertySection"
                    tab="org.key_project.sed.ui.callStack.tab">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.property.MethodReturnConditionsPropertySection"
                    filter="org.key_project.sed.ui.property.SEDMethodCallTreeFilter"
                    id="org.key_project.sed.ui.property.MethodReturnConditionsPropertySection"
                    tab="org.key_project.sed.ui.methodReturns.tab">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.property.SourcePropertySection"
                    filter="org.key_project.sed.ui.property.SourceTreeFilter"
                    id="org.key_project.sed.ui.property.SourcePropertySection"
                    tab="org.key_project.sed.ui.source.tab">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.property.AnnotationPropertySection"
                    filter="org.key_project.sed.ui.property.SEDDebugTargetTreeFilter"
                    id="org.key_project.sed.ui.property.AnnotationPropertySection"
                    tab="org.key_project.sed.ui.annotations.tab">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.property.AnnotationLinkPropertySection"
                    filter="org.key_project.sed.ui.property.SEDDebugNodeTreeFilter"
                    id="org.key_project.sed.ui.property.AnnotationLinkPropertySection"
                    tab="org.key_project.sed.ui.annotationLinks.tab">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.property.StatisticsPropertySection"
                    filter="org.key_project.sed.ui.property.SEDDebugTargetTreeFilter"
                    id="org.key_project.sed.ui.property.StatisticsPropertySection"
                    tab="org.key_project.sed.ui.statistics.tab">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.property.ConstraintsNodePropertySection"
                    filter="org.key_project.sed.ui.property.SEDDebugNodeTreeFilter"
                    id="org.key_project.sed.ui.property.ConstraintsPropertySection"
                    tab="org.key_project.sed.ui.constraints.tab">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.property.VariablePropertySection"
                    filter="org.key_project.sed.ui.property.VariableTreeFilter"
                    id="org.key_project.sed.ui.property.SEDVariablePropertySection"
                    tab="org.key_project.sed.ui.variablePropertyTab">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.property.ConstraintsVariablePropertySection"
                    filter="org.key_project.sed.ui.property.SEDVariableTreeFilter"
                    id="org.key_project.sed.ui.property.ConstraintsPropertySection"
                    tab="org.key_project.sed.ui.constraints.tab">
              </propertySection>
          </propertySections>
      </extension>
      <extension
            point="org.eclipse.debug.ui.contextViewBindings">
         <perspective
               perspectiveId="org.key_project.sed.ui.perspective">
         </perspective>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="org.eclipse.debug.ui.DebugPreferencePage"
               class="org.key_project.sed.ui.preference.page.SymbolicDebugPreferencePage"
               id="org.key_project.sed.ui.preference.page.symbolic_debug"
               name="Symbolic Execution Debugger (SED)">
         </page>
         <page
               category="org.key_project.sed.ui.preference.page.symbolic_debug"
               class="org.key_project.sed.ui.preference.page.AnnotationsColorsPreferencePage"
               id="org.key_project.sed.ui.preference.page.AnnotationTypePreferencePage"
               name="Annotation Colors">
         </page>
      </extension>
      <extension
            point="org.eclipse.ui.views">
         <category
               id="org.key_project.sed.ui.category"
               name="Symbolic Execution Debugger (SED)">
         </category>
      </extension>
      <extension
            point="org.key_project.util.setupParticipants">
         <participant
               class="org.key_project.sed.ui.setup.PreferenceSetupParticipant">
         </participant>
      </extension>
      <extension
            point="org.key_project.sed.ui.annotationActions">
         <action
               class="org.key_project.sed.ui.action.SearchAnnotationAction"
               icon="icons/search.gif"
               text="Search"
               toolTipText="Perform a new text search within the nodes of the symbolic execution tree.">
         </action>
      </extension>
      <extension
            point="org.key_project.sed.ui.annotationEditors">
         <editor
               annotationTypeID="org.key_project.sed.core.annotationType.search"
               class="org.key_project.sed.ui.edit.SearchAnnotationEditor">
         </editor>
         <editor
               annotationTypeID="org.key_project.sed.core.annotationType.comment"
               class="org.key_project.sed.ui.edit.CommentAnnotationEditor">
         </editor>
      </extension>
      <extension
            point="org.key_project.sed.ui.annotationLinkActions">
         <action
               class="org.key_project.sed.ui.action.CommentAnnotationLinkAction"
               icon="icons/comment.gif"
               text="New Comment"
               toolTipText="Adds a new comment to the selected node.">
         </action>
      </extension>
      <extension
            point="org.key_project.sed.ui.annotationLinkEditActions">
         <editAction
               annotationTypeID="org.key_project.sed.core.annotationType.comment"
               class="org.key_project.sed.ui.action.CommentAnnotationLinkEditAction">
         </editAction>
      </extension>
      <extension
            point="org.key_project.sed.ui.annotationTypeImages">
         <image
               annotationTypeID="org.key_project.sed.core.annotationType.comment"
               icon="icons/comment.gif">
         </image>
         <image
               annotationTypeID="org.key_project.sed.core.annotationType.search"
               icon="icons/search.gif">
         </image>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               categoryId="org.eclipse.debug.ui.category.run"
               description="Expand all children of the selected item"
               id="org.key_project.sed.ui.expandAllCommand"
               name="Expand All">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.commandImages">
         <image
               commandId="org.key_project.sed.ui.expandAllCommand"
               icon="icons/expandall.gif">
         </image>
      </extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="org.key_project.sed.ui.command.ExpandAllCommand"
               commandId="org.key_project.sed.ui.expandAllCommand">
            <enabledWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="org.key_project.sed.core.model.ISEDDebugElement">
                     </instanceof>
                     <and>
                        <instanceof
                              value="org.eclipse.debug.core.ILaunch">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.key_project.sed.core.hasSEDDebugTarget">
                        </test>
                     </and>
                  </or>
               </iterate>
            </enabledWhen>
         </handler>
      </extension>
      <extension
            point="org.eclipse.ui.editors.annotationTypes">
         <type
               markerType="org.eclipse.core.resources.textmarker"
               name="org.key_project.sed.ui.SymbolicallyReachedAnnotation">
         </type>
      </extension>
      <extension
            point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="org.key_project.sed.ui.text.SymbolicallyReachedAnnotationImageProvider"
            annotationType="org.key_project.sed.ui.SymbolicallyReachedAnnotation"
            colorPreferenceKey="executedSEDNode_color"
            colorPreferenceValue="254,248,226"
            contributesToHeader="false"
            highlightPreferenceKey="executedSEDNode_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="executedSEDNode_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="executedSEDNode_isGoToPreviousNavigationTargetKey"
            label="Symbolically Reached"
            overviewRulerPreferenceKey="executedSEDNode_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="executedSEDNode_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="executedSEDNode_text"
            textPreferenceValue="true"
            textStylePreferenceKey="executedSEDNode_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="executedSEDNode_verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      </extension>
      <extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.key_project.sed.ui.util.SEDUIPreferenceUtilInitializer">
         </initializer>
      </extension>
</plugin>
