<configuration>
    <!-- disables logback configuration messages on start up, see #1725 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <timestamp key="timestamp" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/.key/logs/key_${timestamp}.log</file>
        <append>false</append>
        <encoder>
            <charset>UTF-8</charset>
            <!-- replace newlines by \n to allow line-based filtering (see LogView) -->
            <pattern>%date|%level|%thread|%logger|%file:%line|%replace(%msg){'[\n\r]','\\n'}|%replace(%ex){'[\n\r]','\\n'}%nopex|%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{HH:mm:ss.SSS}] %highlight(%-5level) %cyan(%logger{0}) - %msg%ex%n</pattern>
        </encoder>
        <!--
            The threshold of this filter is also selected by the command line option "verbosity <int>" where
                SILENT = 0 (completely off)
                NORMAL = 1
                INFO = 2
                DEBUG = 3
                TRACE = 4
        -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="trace">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <!--
        A logger for development, also print to CONSOLE. This logger is not restricted by any command line options.
        You should not use this code on the master branch.
    -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%relative] %highlight(%-5level) %cyan(%logger{0}): %msg %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>
    <logger name="key.devel" level="DEBUG">
        <appender-ref ref="STDERR"/>
    </logger>

</configuration>
