<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.key_project.key4eclipse.resources.KeYProjectNature"
         name="KeYProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.key_project.key4eclipse.resources.nature.KeYProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.key_project.key4eclipse.resources.KeYProjectBuilder"
         name="KeYProjectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.key_project.key4eclipse.resources.builder.KeYProjectBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/projectIcon.gif"
            id="org.key_project.key4eclipse.resources.KeYProjectNatureImage"
            natureId="org.key_project.key4eclipse.resources.KeYProjectNature">
      </image>
   </extension>
   <extension
         id="org.key_project.key4eclipse.resources.ui.marker.proofClosedMarker"
         name="Proof closed"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.key_project.key4eclipse.resources.ui.marker.proofNotClosedMarker"
         name="Proof not closed"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.key_project.key4eclipse.resources.ui.marker.problemLoaderExceptionMarker"
         name="ProblemLoaderException"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.key_project.key4eclipse.resources.ui.marker.cycleDetectedMarker"
         name="Cycle detected"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.key_project.key4eclipse.resources.marker.ProofMarkerResolutionGenerator"
            markerType="org.key_project.key4eclipse.resources.ui.marker.proofClosedMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.key_project.key4eclipse.resources.marker.ProofMarkerResolutionGenerator"
            markerType="org.key_project.key4eclipse.resources.ui.marker.proofNotClosedMarker">
      </markerResolutionGenerator>
   </extension>

</plugin>
