<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.key_project.key4eclipse.resources.KeYProjectNature"
         name="KeYProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.key_project.key4eclipse.resources.nature.KeYProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.key_project.key4eclipse.resources.KeYProjectBuilder"
         name="KeY Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.key_project.key4eclipse.resources.builder.KeYProjectBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/projectIcon.png"
            id="org.key_project.key4eclipse.resources.KeYProjectNatureImage"
            natureId="org.key_project.key4eclipse.resources.KeYProjectNature">
      </image>
   </extension>
   <extension
         id="org.key_project.key4eclipse.resources.ui.marker.proofClosedMarker"
         name="Proof closed"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="org.key_project.key4eclipse.resources.ui.marker.attribute.outdated">
      </attribute>
   </extension>
   <extension
         id="org.key_project.key4eclipse.resources.ui.marker.proofNotClosedMarker"
         name="Proof not closed"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="org.key_project.key4eclipse.resources.ui.marker.attribute.outdated">
      </attribute>
   </extension>
   <extension
         id="org.key_project.key4eclipse.resources.ui.marker.problemLoaderExceptionMarker"
         name="ProblemLoaderException"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.key_project.key4eclipse.resources.ui.marker.cycleDetectedMarker"
         name="Cycle detected"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="org.key_project.key4eclipse.resources.ui.marker.attribute.outdated">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.key_project.key4eclipse.resources.marker.ProofMarkerResolutionGenerator"
            markerType="org.key_project.key4eclipse.resources.ui.marker.proofClosedMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.key_project.key4eclipse.resources.marker.ProofMarkerResolutionGenerator"
            markerType="org.key_project.key4eclipse.resources.ui.marker.proofNotClosedMarker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="org.key_project.key4eclipse.resources.ui.marker.proofClosedMarker"
            name="org.key_project.key4eclipse.resources.ui.marker.proofClosedMarkerAnnotationType"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerSeverity="1"
            markerType="org.key_project.key4eclipse.resources.ui.marker.proofNotClosedMarker"
            name="org.key_project.key4eclipse.resources.ui.marker.proofNotClosedMarkerAnnotationType"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerSeverity="2"
            markerType="org.key_project.key4eclipse.resources.ui.marker.cycleDetectedMarker"
            name="org.key_project.key4eclipse.resources.ui.marker.cycleDetectedMarkerAnnotationType"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.key_project.key4eclipse.resources.ui.marker.proofClosedMarkerAnnotationType"
            icon="icons/keyinfo12x14.png"
            includeOnPreferencePage="true">
      </specification>
      <specification
            annotationType="org.key_project.key4eclipse.resources.ui.marker.proofNotClosedMarkerAnnotationType"
            icon="icons/keywarning12x14.png"
            includeOnPreferencePage="true">
      </specification>
      <specification
            annotationType="org.key_project.key4eclipse.resources.ui.marker.cycleDetectedMarkerAnnotationType"
            icon="icons/keyerror12x14.png"
            includeOnPreferencePage="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
       <file-association
             content-type="org.eclipse.core.runtime.xml"
             file-extensions="proofmeta">
       </file-association>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.key_project.key4eclipse.resources.decorator.ProofFolderLightweightLabelDecorator"
            icon="icons/projectIcon.png"
            id="org.key_project.key4eclipse.resources.proofFolderDecorator"
            label="Proof Folders"
            lightweight="true"
            objectClass="org.eclipse.core.resources.IFolder"
            state="true">
      </decorator>
      <decorator
            adaptable="true"
            class="org.key_project.key4eclipse.resources.decorator.ProofFileLightweightLabelDecorator"
            id="org.key_project.key4eclipse.resources.proofFilesDecorator"
            label="Proof Files"
            lightweight="true"
            objectClass="org.eclipse.core.resources.IFile"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.key_project.key4eclipse.resources.builder.KeYResourcesStartup">
      </startup>
   </extension>
</plugin>
