/bin/

examples/InformationFlow/ToyVoting/Voter(Voter__inputVote()).JML_normal_behavior_operation_contract.0.key
examples/heap/SemanticSlicing/project.key.proof
examples/heap/SmansEtAl/ArrayList_ArrayList.key.proof
examples/heap/SmansEtAl/ArrayList_add.key.proof
examples/heap/SmansEtAl/ArrayList_footprint.key.proof
examples/heap/SmansEtAl/ArrayList_get.key.proof
examples/heap/SmansEtAl/ArrayList_get_dep.key.proof
examples/heap/SmansEtAl/ArrayList_inv.key.proof
examples/heap/SmansEtAl/ArrayList_size.key.proof
examples/heap/SmansEtAl/ArrayList_size_dep.key.proof
examples/heap/SmansEtAl/CellClient_m.key.proof
examples/heap/SmansEtAl/Cell_Cell.key.proof
examples/heap/SmansEtAl/Cell_footprint.key.proof
examples/heap/SmansEtAl/Cell_getX.key.proof
examples/heap/SmansEtAl/Cell_getX_dep.key.proof
examples/heap/SmansEtAl/Cell_inv.key.proof
examples/heap/SmansEtAl/Cell_setX.key.proof
examples/heap/SmansEtAl/Iterator_Iterator.key.proof
examples/heap/SmansEtAl/Iterator_footprint.key.proof
examples/heap/SmansEtAl/Iterator_hasNext.key.proof
examples/heap/SmansEtAl/Iterator_hasNext_dep.key.proof
examples/heap/SmansEtAl/Iterator_inv.key.proof
examples/heap/SmansEtAl/Iterator_list.key.proof
examples/heap/SmansEtAl/Iterator_list_dep.key.proof
examples/heap/SmansEtAl/Iterator_next.key.proof
examples/heap/SmansEtAl/Stack_Stack.key.proof
examples/heap/SmansEtAl/Stack_footprint.key.proof
examples/heap/SmansEtAl/Stack_inv.key.proof
examples/heap/SmansEtAl/Stack_push.key.proof
examples/heap/SmansEtAl/Stack_size.key.proof
examples/heap/SmansEtAl/Stack_switchContents.key.proof
examples/heap/WeideEtAl_01_AddAndMultiply/AddAndMultiply_add.key.proof
examples/heap/WeideEtAl_01_AddAndMultiply/AddAndMultiply_mul.key.proof
examples/heap/WeideEtAl_02_BinarySearch/BinarySearch_search.key.proof
examples/heap/Wellfounded/ackermann.key.proof
examples/heap/block_contracts/Simple__add.key.proof
examples/heap/block_contracts/Simple__addAbsoluteValues.key.proof
examples/heap/block_contracts/Simple__addWithJump.key.proof
examples/heap/block_contracts/Simple__addWithTwoBlockContracts.key.proof
examples/heap/block_contracts/Simple__generateByteArray.key.proof
examples/heap/block_contracts/Simple__getLength.key.proof
examples/heap/block_contracts/Simple__square.key.proof
examples/heap/block_contracts/Simple__unnecessaryBlockContract.key.proof
examples/heap/block_contracts/Simple__unnecessaryLoopInvariant.key.proof
examples/heap/coincidence_count/project.key.proof
examples/heap/comprehensions/bprodSplit.key.proof
examples/heap/comprehensions/bsumSplit.key.proof
examples/heap/comprehensions/bsum_neg2.key.proof
examples/heap/comprehensions/bsum_negative.key.proof
examples/heap/comprehensions/general_sum.key.proof
examples/heap/comprehensions/segsum.key.proof
examples/heap/comprehensions/sum0.key.proof
examples/heap/comprehensions/sum1.key.proof
examples/heap/comprehensions/sum2.key.proof
examples/heap/comprehensions/sum3.key.proof
examples/heap/fm12_01_LRS/lcp.key.proof
examples/heap/information_flow/ArrayList_contains.key.proof
examples/heap/information_flow/ArrayList_get.key.proof
examples/heap/information_flow/ArrayList_size.key.proof
examples/heap/information_flow/UpdateAbstraction_ex7_3_secure.key.proof
examples/heap/information_flow/UpdateAbstraction_ex7_4_secure.key.proof
examples/heap/information_flow/UpdateAbstraction_ex7_5_secure.key.proof
examples/heap/information_flow/UpdateAbstraction_ex7_6_secure.key.proof
examples/heap/information_flow/UpdateAbstraction_ex9_secure.key.proof
examples/heap/javacard/arrayFillNonAtomic.key.proof
examples/heap/javacard/setArray1.key.proof
examples/heap/javacard/setArray2.key.proof
examples/heap/javacard/updateBalance0.key.proof
examples/heap/javacard/updateBalance1.key.proof
examples/heap/list/ArrayList.ArrayListIterator_ArrayListIterator.key.proof
examples/heap/list/ArrayList.ArrayListIterator_hasNext.key.proof
examples/heap/list/ArrayList.ArrayListIterator_hasNext_dep.key.proof
examples/heap/list/ArrayList.ArrayListIterator_inv.key.proof
examples/heap/list/ArrayList.ArrayListIterator_list.key.proof
examples/heap/list/ArrayList.ArrayListIterator_next_exceptional.key.proof
examples/heap/list/ArrayList.ArrayListIterator_next_normal.key.proof
examples/heap/list/ArrayList.ArrayListIterator_pos.key.proof
examples/heap/list/ArrayList_ArrayList.key.proof
examples/heap/list/ArrayList_add.key.proof
examples/heap/list/ArrayList_concatenate.key.proof
examples/heap/list/ArrayList_contains_dep.key.proof
examples/heap/list/ArrayList_enlarge.key.proof
examples/heap/list/ArrayList_footprint.key.proof
examples/heap/list/ArrayList_get_dep.key.proof
examples/heap/list/ArrayList_get_exceptional.key.proof
examples/heap/list/ArrayList_get_normal.key.proof
examples/heap/list/ArrayList_inv.key.proof
examples/heap/list/ArrayList_iterator.key.proof
examples/heap/list/ArrayList_size.key.proof
examples/heap/list/ArrayList_size_dep.key.proof
examples/heap/list/Client_m.key.proof
examples/heap/list/Client_n.key.proof
examples/heap/list/LinkedList_LinkedList.key.proof
examples/heap/list/LinkedList_get_exceptional.key.proof
examples/heap/list/LinkedList_get_normal.key.proof
examples/heap/list/LinkedList_size.key.proof
examples/heap/list/LinkedList_size_dep.key.proof
examples/heap/list/MySet_MySet.key.proof
examples/heap/list/MySet_footprint.key.proof
examples/heap/list_ghost/ArrayList_ArrayList.key.proof
examples/heap/list_ghost/ArrayList_add.key.proof
examples/heap/list_ghost/ArrayList_enlarge.key.proof
examples/heap/list_ghost/ArrayList_get_dep.key.proof
examples/heap/list_ghost/ArrayList_get_exceptional.key.proof
examples/heap/list_ghost/ArrayList_get_normal.key.proof
examples/heap/list_ghost/ArrayList_inv.key.proof
examples/heap/list_ghost/ArrayList_size.key.proof
examples/heap/list_ghost/ArrayList_size_dep.key.proof
examples/heap/list_recursiveSpec/ListOperationsNonNull_getNextNN_normal_behavior.key.proof
examples/heap/list_recursiveSpec/ListOperationsNonNull_remove_normal_behavior.key.proof
examples/heap/list_recursiveSpec/ListOperationsNonNull_setValueAt_normal_behavior.key.proof
examples/heap/list_seq/ArrayList.ArrayList.key.proof
examples/heap/list_seq/ArrayList.add.key.proof
examples/heap/list_seq/ArrayList.contains.key.proof
examples/heap/list_seq/ArrayList.enlarge.key.proof
examples/heap/list_seq/ArrayList.get.key.proof
examples/heap/list_seq/ArrayList.newArray.key.proof
examples/heap/list_seq/ArrayList.remove.0.key.proof
examples/heap/list_seq/ArrayList.remove.1.key.proof
examples/heap/list_seq/SimplifiedLinkedList.remove.key.proof
examples/heap/model_methods/CellTest_callSet.key.proof
examples/heap/model_methods/CellTest_test.key.proof
examples/heap/model_methods/CellTest_test2.key.proof
examples/heap/model_methods/Cell_footprint.key.proof
examples/heap/model_methods/Cell_footprint_acc.key.proof
examples/heap/model_methods/Cell_get.key.proof
examples/heap/model_methods/Cell_get_acc.key.proof
examples/heap/model_methods/Cell_post_set.key.proof
examples/heap/model_methods/Cell_set.key.proof
examples/heap/model_methods/Coll1_Coll1_add_pre.key.proof
examples/heap/model_methods/Coll1_Coll_add_pre.key.proof
examples/heap/model_methods/Coll1_add.key.proof
examples/heap/model_methods/Coll2_Coll2_add_pre.key.proof
examples/heap/model_methods/Coll2_Coll_add_pre.key.proof
examples/heap/model_methods/Coll2_add.key.proof
examples/heap/model_methods/Coll_add.key.proof
examples/heap/model_methods/Coll_add_pre.key.proof
examples/heap/model_methods/Indirect_callAdd.key.proof
examples/heap/model_methods/Indirect_test.key.proof
examples/heap/model_methods/Recell_Cell_footprint.key.proof
examples/heap/model_methods/Recell_Cell_post_set.key.proof
examples/heap/model_methods/Recell_Recell_footprint.key.proof
examples/heap/model_methods/Recell_Recell_post_set.key.proof
examples/heap/model_methods/Recell_footprint_acc.key.proof
examples/heap/model_methods/Recell_get.key.proof
examples/heap/model_methods/Recell_get_acc.key.proof
examples/heap/model_methods/Recell_set.key.proof
examples/heap/model_methods/Recell_undo.key.proof
examples/heap/observer/ExampleObserver_ExampleObserver.key.proof
examples/heap/observer/ExampleObserver_inv.key.proof
examples/heap/observer/ExampleObserver_subject.key.proof
examples/heap/observer/ExampleObserver_upToDate.key.proof
examples/heap/observer/ExampleObserver_update.key.proof
examples/heap/observer/ExampleObserver_value.key.proof
examples/heap/observer/ExampleSubject_ExampleSubject.key.proof
examples/heap/observer/ExampleSubject_addObserver.key.proof
examples/heap/observer/ExampleSubject_change.key.proof
examples/heap/observer/ExampleSubject_footprint.key.proof
examples/heap/observer/ExampleSubject_inv.key.proof
examples/heap/observer/ExampleSubject_notifyObservers.key.proof
examples/heap/observer/ExampleSubject_value.key.proof
examples/heap/observer/ExampleSubject_value_dep.key.proof
examples/heap/permissions/lockspec/Counter_fpLock_accessible.key.proof
examples/heap/permissions/lockspec/Counter_fpPerm_accessible.key.proof
examples/heap/permissions/lockspec/Counter_fp_accessible.key.proof
examples/heap/permissions/lockspec/Counter_increase_contract.key.proof
examples/heap/permissions/lockspec/Counter_inv_accessible1.key.proof
examples/heap/permissions/lockspec/Counter_inv_accessible2.key.proof
examples/heap/permissions/lockspec/Counter_lockConsistent_contract.key.proof
examples/heap/permissions/lockspec/Counter_lockRef_accessible.key.proof
examples/heap/permissions/lockspec/Counter_lockRef_contract1.key.proof
examples/heap/permissions/lockspec/Counter_lockRef_contract2.key.proof
examples/heap/permissions/lockspec/Counter_lockState_accessible.key.proof
examples/heap/permissions/lockspec/Counter_lockStatus_accessible.key.proof
examples/heap/permissions/lockspec/Counter_lockTransfer_accessible.key.proof
examples/heap/permissions/lockspec/Counter_unlockTransfer_accessible.key.proof
examples/heap/permissions/mulleretal/ReadWrite_doRead_contract.key.proof
examples/heap/permissions/mulleretal/ReadWrite_doWrite_contract.key.proof
examples/heap/permissions/mulleretal/ReadWrite_inv1_accessible.key.proof
examples/heap/permissions/mulleretal/ReadWrite_inv2_accessible.key.proof
examples/heap/permissions/mulleretal/ReadWrite_read_contract.key.proof
examples/heap/permissions/mulleretal/ReadWrite_write_contract.key.proof
examples/heap/permissions/permissionProperties.key.proof
examples/heap/permissions/permissions_method0.key.proof
examples/heap/permissions/permissions_method1.key.proof
examples/heap/permissions/permissions_method3.key.proof
examples/heap/permissions/permissions_setAB.key.proof
examples/heap/permissions/threads/AFilter_AFilter.key.proof
examples/heap/permissions/threads/AFilter_initPost_accessible.key.proof
examples/heap/permissions/threads/AFilter_inv_accessible1.key.proof
examples/heap/permissions/threads/AFilter_inv_accessible2.key.proof
examples/heap/permissions/threads/AFilter_joinTransfer_accessible.key.proof
examples/heap/permissions/threads/AFilter_joinTransfer_contract.key.proof
examples/heap/permissions/threads/AFilter_postJoin_accessible.key.proof
examples/heap/permissions/threads/AFilter_preStart_accessible.key.proof
examples/heap/permissions/threads/AFilter_startTransfer_accessible.key.proof
examples/heap/permissions/threads/AFilter_startTransfer_contract.key.proof
examples/heap/permissions/threads/AFilter_stateInv_accessible.key.proof
examples/heap/permissions/threads/AFilter_staticPermissions_accessible.key.proof
examples/heap/permissions/threads/AFilter_workingPermissions_accessible.key.proof
examples/heap/permissions/threads/BFilter_BFilter.key.proof
examples/heap/permissions/threads/BFilter_initPost_accessible.key.proof
examples/heap/permissions/threads/BFilter_inv_accessible1.key.proof
examples/heap/permissions/threads/BFilter_inv_accessible2.key.proof
examples/heap/permissions/threads/BFilter_joinTransfer_accessible.key.proof
examples/heap/permissions/threads/BFilter_joinTransfer_contract.key.proof
examples/heap/permissions/threads/BFilter_postJoin_accessible.key.proof
examples/heap/permissions/threads/BFilter_preStart_accessible.key.proof
examples/heap/permissions/threads/BFilter_startTransfer_accessible.key.proof
examples/heap/permissions/threads/BFilter_startTransfer_contract.key.proof
examples/heap/permissions/threads/BFilter_stateInv_accessible.key.proof
examples/heap/permissions/threads/BFilter_staticPermissions_accessible.key.proof
examples/heap/permissions/threads/BFilter_workingPermissions_accessible.key.proof
examples/heap/permissions/threads/Fib_Fib.key.proof
examples/heap/permissions/threads/Fib_initPost_accessible.key.proof
examples/heap/permissions/threads/Fib_inv1_accessible.key.proof
examples/heap/permissions/threads/Fib_inv2_accessible.key.proof
examples/heap/permissions/threads/Fib_joinTransfer_accessible.key.proof
examples/heap/permissions/threads/Fib_joinTransfer_contract.key.proof
examples/heap/permissions/threads/Fib_postJoin_accessible.key.proof
examples/heap/permissions/threads/Fib_preStart_accessible.key.proof
examples/heap/permissions/threads/Fib_startTransfer_accessible.key.proof
examples/heap/permissions/threads/Fib_startTransfer_contract.key.proof
examples/heap/permissions/threads/Fib_workingPermissions_accessible.key.proof
examples/heap/permissions/threads/Plotter_Plotter.key.proof
examples/heap/permissions/threads/Plotter_initPost_accessible.key.proof
examples/heap/permissions/threads/Plotter_inv_accessible1.key.proof
examples/heap/permissions/threads/Plotter_inv_accessible2.key.proof
examples/heap/permissions/threads/Plotter_joinTransfer_accessible.key.proof
examples/heap/permissions/threads/Plotter_joinTransfer_contract.key.proof
examples/heap/permissions/threads/Plotter_postJoin_accessible.key.proof
examples/heap/permissions/threads/Plotter_preStart_accessible.key.proof
examples/heap/permissions/threads/Plotter_startTransfer_accessible.key.proof
examples/heap/permissions/threads/Plotter_stateInv_accessible.key.proof
examples/heap/permissions/threads/Plotter_workingPermissions_accessible.key.proof
examples/heap/permissions/threads/Sampler_Sampler.key.proof
examples/heap/permissions/threads/Sampler_initPost_accessible.key.proof
examples/heap/permissions/threads/Sampler_inv_accessible1.key.proof
examples/heap/permissions/threads/Sampler_inv_accessible2.key.proof
examples/heap/permissions/threads/Sampler_joinTransfer_accessible.key.proof
examples/heap/permissions/threads/Sampler_joinTransfer_contract.key.proof
examples/heap/permissions/threads/Sampler_postJoin_accessible.key.proof
examples/heap/permissions/threads/Sampler_preStart_accessible.key.proof
examples/heap/permissions/threads/Sampler_run.key.proof
examples/heap/permissions/threads/Sampler_startTransfer_accessible.key.proof
examples/heap/permissions/threads/Sampler_startTransfer_contract.key.proof
examples/heap/permissions/threads/Sampler_stateInv_accessible.key.proof
examples/heap/permissions/threads/Sampler_staticPermissions_accessible.key.proof
examples/heap/permissions/threads/Sampler_workingPermissions_accessible.key.proof
examples/heap/polarity_tests/wellformed1.key.proof
examples/heap/polarity_tests/wellformed3.key.proof
examples/heap/polarity_tests/wellformed5.key.proof
examples/heap/polarity_tests/wellformed7.key.proof
examples/heap/polarity_tests/wellformed9.key.proof
examples/heap/quicksort/sort.key.proof
examples/heap/quicksort/split.key.proof
examples/heap/quicksort/toplevel.key.proof
examples/heap/removeDups/arrayPart.key.proof
examples/heap/removeDups/contains.key.proof
examples/heap/removeDups/removeDup.key.proof
examples/heap/saddleback_search/Saddleback_search.key.proof
examples/heap/simple/anonymise_datagroup.key.proof
examples/heap/simple/array_creation.key.proof
examples/heap/simple/arrays.key.proof
examples/heap/simple/arrays_with_disjoint_sorts.key.proof
examples/heap/simple/attributes.key.proof
examples/heap/simple/constructor_contracts.key.proof
examples/heap/simple/dependencies.key.proof
examples/heap/simple/dependency_contracts.key.proof
examples/heap/simple/invariant_preservation.key.proof
examples/heap/simple/locsets.key.proof
examples/heap/simple/loop1.key.proof
examples/heap/simple/loop2.key.proof
examples/heap/simple/modifies.key.proof
examples/heap/simple/modifies_datagroup.key.proof
examples/heap/simple/object_creation.key.proof
examples/heap/simple/oldForParams.key.proof
examples/heap/simple/operation_contracts.key.proof
examples/heap/simple/parse_lmtd.key.proof
examples/heap/simple/select_store.key.proof
examples/heap/simple/selection_sort.key.proof
examples/heap/simple/seq.key.proof
examples/heap/strictly_pure/strictlyPureMethod.key.proof
examples/heap/strictly_pure/useStrictlyPureMethod.key.proof
examples/heap/vacid0_01_SparseArray/Harness_sparseArrayTestHarness1.key.proof
examples/heap/vacid0_01_SparseArray/Harness_sparseArrayTestHarness2.key.proof
examples/heap/vacid0_01_SparseArray/MemoryAllocator_alloc.key.proof
examples/heap/vacid0_01_SparseArray/MemoryAllocator_alloc_unsigned.key.proof
examples/heap/vacid0_01_SparseArray/SparseArray_SparseArray.key.proof
examples/heap/vacid0_01_SparseArray/SparseArray_get.key.proof
examples/heap/vacid0_01_SparseArray/SparseArray_get_dep.key.proof
examples/heap/vacid0_01_SparseArray/SparseArray_inv.key.proof
examples/heap/verifyThis17_1_PairInsertionSort/PairInsertionSort(PairInsertionSort__sort((I,int,int)).JML normal_behavior operation contract.0.proof
examples/heap/verifyThis17_1_PairInsertionSort/sort-partial.proof
examples/heap/verifyThis17_1_PairInsertionSort/sort.partial-old.proof
examples/heap/verifyThis17_1_PairInsertionSort/sort.partial..proof
examples/heap/vstte10_01_SumAndMax/SumAndMax_sumAndMax.key.proof
examples/heap/vstte10_03_LinkedList/Node_cons.key.proof
examples/heap/vstte10_03_LinkedList/Node_inv.key.proof
examples/heap/vstte10_03_LinkedList/Node_search.key.proof
examples/heap/vstte10_04_Queens/Queens_isConsistent.key.proof
examples/heap/vstte10_04_Queens/Queens_nQueens.key.proof
examples/heap/vstte10_05_Queue/AmortizedQueue_AmortizedQueue.key.proof
examples/heap/vstte10_05_Queue/AmortizedQueue_front.key.proof
examples/heap/vstte10_05_Queue/LinkedList_LinkedList1.key.proof
examples/heap/vstte10_05_Queue/LinkedList_LinkedList2.key.proof
examples/heap/vstte10_05_Queue/LinkedList_LinkedList3.key.proof
examples/heap/vstte10_05_Queue/LinkedList_concat.key.proof
examples/heap/vstte10_05_Queue/LinkedList_cons.key.proof
examples/heap/vstte10_05_Queue/LinkedList_head.key.proof
examples/heap/vstte10_05_Queue/LinkedList_inv.key.proof
examples/heap/vstte10_05_Queue/LinkedList_length.key.proof
examples/heap/vstte10_05_Queue/LinkedList_reverse.key.proof
examples/heap/vstte10_05_Queue/LinkedList_tail.key.proof
examples/newBook/09.list_modelfield/ArrayList.add.key.proof
examples/newBook/09.list_modelfield/ArrayList.empty.key.proof
examples/newBook/09.list_modelfield/ArrayList.get.key.proof
examples/newBook/09.list_modelfield/ArrayList.remFirst.key.proof
examples/newBook/09.list_modelfield/ArrayList.size.key.proof
examples/performance-test/AccessChain1(AccessChain1__foo_08()).JML_operation_contract.0.key.proof
examples/performance-test/AccessChain4(AccessChain4__foo_08()).JML_operation_contract.0.key.proof
examples/performance-test/Disjoint(Disjoint__disjoint2_08()).JML_operation_contract.0.key.proof
examples/performance-test/Disjoint(Disjoint__disjoint_08()).JML_operation_contract.0.key.proof
examples/performance-test/Disjoint(Disjoint__xZero_08()).JML_operation_contract.0.key.proof
examples/performance-test/Dynamic(Dynamic__foo_08()).JML_operation_contract.0.key.proof
examples/performance-test/DynamicGhost(DynamicGhost__dynamicGhost_08()).JML_normal_behavior_operation_contract.0.key.proof
examples/performance-test/GhostFrame(GhostFrame__foo_08()).JML_operation_contract.0.key.proof
examples/performance-test/Modelfield(Modelfield__foo_08()).JML_operation_contract.0.key.proof
examples/performance-test/Test(Test__a0(int)).JML_normal_behavior_operation_contract.0.key.proof
examples/performance-test/Test(Test__a1(int)).JML_normal_behavior_operation_contract.0.key.proof
examples/performance-test/Test(Test__f1(int)).JML_normal_behavior_operation_contract.0.key.proof
examples/standard_key/BookExamples/02FirstOrderLogic/Ex2.58.key.proof
examples/standard_key/BookExamples/03DynamicLogic/Sect3.3.1.key.proof
examples/standard_key/arith/binomial1.key.proof
examples/standard_key/arith/binomial2.key.proof
examples/standard_key/arith/check_jdiv_concrete.key.proof
examples/standard_key/arith/check_jmod.key.proof
examples/standard_key/arith/complexExpressions.key.proof
examples/standard_key/arith/compound_unaryMinus.key.proof
examples/standard_key/arith/cubicSum.key.proof
examples/standard_key/arith/divByZero.key.proof
examples/standard_key/arith/divisionAssoc.key.proof
examples/standard_key/arith/gemplusDecimal/add.partial.proof
examples/standard_key/arith/median.key.proof
examples/standard_key/arith/mod1.key.proof
examples/standard_key/arith/mod2.key.proof
examples/standard_key/arith/mod7.key.proof
examples/standard_key/arrays/arrayStoreException/array2DimPrim.key.proof
examples/standard_key/arrays/arrayStoreException/arrayStoreKnownDynType.key.proof
examples/standard_key/arrays/arrayStoreException/reverseArray.key.proof
examples/standard_key/arrays/arrayStoreException/throwArrayStoreException.key.proof
examples/standard_key/arrays/creation/arrayCreation1.key.proof
examples/standard_key/inEqSimp/inequations0.key.proof
examples/standard_key/inEqSimp/inequations1.key.proof
examples/standard_key/inEqSimp/inequations2.key.proof
examples/standard_key/inEqSimp/linApprox.key.proof
examples/standard_key/inEqSimp/nonLinInEqExample0.key.proof
examples/standard_key/inEqSimp/nonLinInEqExample2.key.proof
examples/standard_key/inEqSimp/nonLinInEqExample3.key.proof
examples/standard_key/inEqSimp/nonLinInEqExample4.key.proof
examples/standard_key/inEqSimp/quadraticInEq10.key.proof
examples/standard_key/instanceCreation/instanceCreation1.key.proof
examples/standard_key/instanceCreation/instanceCreation2.key.proof
examples/standard_key/instanceCreation/interfacesAndAbstractClassesHaveNoInstances.key.proof
examples/standard_key/instanceCreation/successiveCreatedObjectsAreDistinct.key.proof
examples/standard_key/instanceCreation/testOverloadingConstructors.key.proof
examples/standard_key/java_dl/SimpleAttributes.key.proof
examples/standard_key/java_dl/arrayMax.key.proof
examples/standard_key/java_dl/arrayUpdateSimp.key.proof
examples/standard_key/java_dl/assert/assert2.key.proof
examples/standard_key/java_dl/attributes.key.proof
examples/standard_key/java_dl/break.key.proof
examples/standard_key/java_dl/char.key.proof
examples/standard_key/java_dl/compileTimeConstants.key.proof
examples/standard_key/java_dl/complexAssignment.key.proof
examples/standard_key/java_dl/constructorException/test.key.proof
examples/standard_key/java_dl/danglingElseSolution1.key.proof
examples/standard_key/java_dl/danglingElseSolution2.key.proof
examples/standard_key/java_dl/deepNonNull/deepNonNull0.key.proof
examples/standard_key/java_dl/deepNonNull/deepNonNull1.key.proof
examples/standard_key/java_dl/deepNonNull/deepNonNull3.key.proof
examples/standard_key/java_dl/exceptions.key.proof
examples/standard_key/java_dl/exceptions1.key.proof
examples/standard_key/java_dl/exceptions2.key.proof
examples/standard_key/java_dl/exceptions3.key.proof
examples/standard_key/java_dl/exchange.key.proof
examples/standard_key/java_dl/if.key.proof
examples/standard_key/java_dl/incrementcounter.key.proof
examples/standard_key/java_dl/iteratedAssignment.key.proof
examples/standard_key/java_dl/java5/for_Array.key.proof
examples/standard_key/java_dl/java5/for_Iterable.key.proof
examples/standard_key/java_dl/java5/for_ReferenceArray.key.proof
examples/standard_key/java_dl/java5/vararg.key.proof
examples/standard_key/java_dl/jml-assert/assert.key.proof
examples/standard_key/java_dl/jml-bigint/cast.key.proof
examples/standard_key/java_dl/jml-free/ensuresFree.key.proof
examples/standard_key/java_dl/jml-free/loopInvFree.key.proof
examples/standard_key/java_dl/jml-information-flow.key.proof
examples/standard_key/java_dl/methodCall.key.proof
examples/standard_key/java_dl/methodCall1.key.proof
examples/standard_key/java_dl/methodCall1box.key.proof
examples/standard_key/java_dl/methodCall2.key.proof
examples/standard_key/java_dl/methodCall3.key.proof
examples/standard_key/java_dl/polishFlagSort.key.proof
examples/standard_key/java_dl/postConditionTaclets1.key.proof
examples/standard_key/java_dl/postConditionTaclets2.key.proof
examples/standard_key/java_dl/quantifiedQuery.key.proof
examples/standard_key/java_dl/recursion/triangular.key.proof
examples/standard_key/java_dl/reverseArray2.key.proof
examples/standard_key/java_dl/simpleAssignment.key.proof
examples/standard_key/java_dl/simpleAssignment2.key.proof
examples/standard_key/java_dl/splittingWithQueries.key.proof
examples/standard_key/java_dl/strassen/strassen.key.proof
examples/standard_key/java_dl/symmArray.key.proof
examples/standard_key/java_dl/testcontext.key.proof
examples/standard_key/pred_log/count2.key.proof
examples/standard_key/pred_log/count3.key.proof
examples/standard_key/pred_log/equalities.key.proof
examples/standard_key/pred_log/equalities3.key.proof
examples/standard_key/pred_log/functions.key.proof
examples/standard_key/pred_log/jbyteIfEx.key.proof
examples/standard_key/pred_log/mv1.key.proof
examples/standard_key/pred_log/mv2.key.proof
examples/standard_key/pred_log/quantifiers.key.proof
examples/standard_key/pred_log/simpleEps.key.proof
examples/standard_key/pred_log/steam1.key.proof
examples/standard_key/pred_log/tptp/PUZ/PUZ001p1-eq.key.proof
examples/standard_key/pred_log/tptp/PUZ/PUZ001p1.key.proof
examples/standard_key/pred_log/tptp/PUZ/PUZ031p1.key.proof
examples/standard_key/pred_log/tptp/SET/SET027p3.key.proof
examples/standard_key/pred_log/tptp/SET/SET043p1.key.proof
examples/standard_key/pred_log/tptp/SET/SET045p1.key.proof
examples/standard_key/pred_log/tptp/SET/SET062p3.key.proof
examples/standard_key/pred_log/tptp/SET/SET063p3.key.proof
examples/standard_key/pred_log/tptp/SYN/SYN036p2.key.proof
examples/standard_key/pred_log/tptp/SYN/SYN550p1.key.proof
examples/standard_key/prop_log/allClausesLength4.key.proof
examples/standard_key/prop_log/allClausesLength5.key.proof
examples/standard_key/prop_log/contraposition.key.proof
examples/standard_key/prop_log/doubleNeg.key.proof
examples/standard_key/prop_log/liarsville.key.proof
examples/standard_key/prop_log/simplest.key.proof
examples/standard_key/quantifiers/elimination0.key.proof
examples/standard_key/quantifiers/heuristic_PUZ001p1-eq.key.proof
examples/standard_key/quantifiers/heuristic_PUZ001p1.key.proof
examples/standard_key/quantifiers/heuristic_PUZ031p1.key.proof
examples/standard_key/quantifiers/heuristic_SYN036p2.key.proof
examples/standard_key/quantifiers/injectivity.key.proof
examples/standard_key/quantifiers/normalisation0.key.proof
examples/standard_key/quantifiers/normalisation1.key.proof
examples/standard_key/quantifiers/normalisation10.key.proof
examples/standard_key/quantifiers/normalisation12.key.proof
examples/standard_key/quantifiers/normalisation13.key.proof
examples/standard_key/quantifiers/normalisation2.key.proof
examples/standard_key/quantifiers/normalisation3.key.proof
examples/standard_key/quantifiers/normalisation4.key.proof
examples/standard_key/quantifiers/normalisation5.key.proof
examples/standard_key/quantifiers/normalisation6.key.proof
examples/standard_key/quantifiers/normalisation7.key.proof
examples/standard_key/quantifiers/normalisation8.key.proof
examples/standard_key/quantifiers/normalisation9.key.proof
examples/standard_key/quantifiers/triggers0.key.proof
examples/standard_key/staticInitialisation/cascadeStaticInitialisation.key.proof
examples/standard_key/staticInitialisation/erroneousClassImpliesErroneousSubclass.key.proof
examples/standard_key/staticInitialisation/initializedSubclassImpliesInitializedSuperclass.key.proof
examples/standard_key/staticInitialisation/localDeclared.key.proof
examples/standard_key/staticInitialisation/localDeclaredMethod.key.proof
examples/standard_key/staticInitialisation/objectOfErroneousClass.key.proof
examples/standard_key/staticInitialisation/staticInitialisersAreNonSimple.key.proof
examples/standard_key/strings/charAt0.key.proof
examples/standard_key/strings/charAt1.key.proof
examples/standard_key/strings/concat1.key.proof
examples/standard_key/strings/concat2.key.proof
examples/standard_key/strings/deriveLength1.key.proof
examples/standard_key/strings/emptyStringLengthZero.key.proof
examples/standard_key/strings/implicitBooleanStringConversion.key.proof
examples/standard_key/strings/implicitBooleanStringConversion2.key.proof
examples/standard_key/strings/implicitIntStringConversion.key.proof
examples/standard_key/strings/implicitNullStringConversion.key.proof
examples/standard_key/strings/implicitNullStringConversion2.key.proof
examples/standard_key/strings/implicitObjectStringConversion.key.proof
examples/standard_key/strings/literalEquality.key.proof
examples/standard_key/strings/replace0.key.proof
examples/standard_key/strings/replace1.key.proof
examples/standard_key/strings/simpleAssignment.key.proof
examples/standard_key/strings/simpleLengthComp.key.proof
examples/standard_key/strings/stringCompileTimeConstant1.key.proof
examples/standard_key/strings/stringCompileTimeConstant2.key.proof
examples/standard_key/strings/stringEquality1.key.proof
examples/standard_key/strings/stringEquality2.key.proof
examples/standard_key/strings/substring0.key.proof
examples/standard_key/strings/substring1.key.proof
examples/standard_key/strings/substring2.key.proof
examples/standard_key/strings/substring3.key.proof
examples/standard_key/strings/substring4.key.proof
examples/standard_key/strings/substring5.key.proof
examples/standard_key/types/disjoint.key.proof
examples/standard_key/unicode_test.key.proof
.gitignore
