<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.key_project.monkey.product.ui.MonKeY" 
            name="MonKeY">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="MonKeY">
         </property>
         <property
               name="welcomePerspective"
               value="org.key_project.monkey.product.ui.perspective">
         </property>
         <property
               name="introTitle"
               value="MonKeY">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/IntroLogo.gif">
         </property>
         <property
               name="introBrandingImageText"
               value="KeY Project">
         </property>
         <property
               name="windowImages"
               value="icons/logo16.gif,icons/logo32.gif,icons/logo48.gif,icons/logo64.gif,icons/logo128.gif">
         </property>
         <property
               name="aboutText"
               value="MonKeY&#x0A;&#x0A;Version: 1.0.0&#x0A;&#x0A;Developed as part of the KeY project.">
         </property>
         <property
               name="aboutImage"
               value="icons/About.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="3F3F3F">
         </property>
         <property
               name="startupMessageRect"
               value="30,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="30,275,445,15">
         </property>
      </product>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.key_project.monkey.product.ui.product">
      </introProductBinding>
   </extension>
   -->
   <extension
         id="MonKeY"
         name="MonKeY"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            icon="icons/logo16.gif"
            thread="main"
            visible="true">
         <run
               class="org.key_project.monkey.product.ui.application.MonKeYApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.key_project.monkey.product.ui.perspective.MonKeYPerspective"
            fixed="true"
            icon="icons/logo16.gif"
            id="org.key_project.monkey.product.ui.perspective"
            name="MonKeY">
         <description>
            Default perspective of MonKeY based on KeY.
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.key_project.monkey.product.ui.view.category"
            name="MonKeY">
      </category>
      <view
            category="org.key_project.monkey.product.ui.view.category"
            class="org.key_project.monkey.product.ui.view.MonKeYView"
            icon="icons/logo16.gif"
            id="org.key_project.monkey.product.ui.view.MonKeYView"
            name="MonKeY"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.key_project.key4eclipse.common.ui.globalStarter">
      <starter
            class="org.key_project.monkey.product.ui.starter.MonKeYGlobalStarter"
            description="Batch verification of all proof obligations."
            id="org.key_project.monkey.product.ui.starter.MonKeYGlobalStarter"
            name="MonKeY">
      </starter>
   </extension>
   <extension
         point="org.key_project.key4eclipse.common.ui.projectStarter">
      <starter
            class="org.key_project.monkey.product.ui.starter.MonKeYProjectStarter"
            description="Batch verification of all proof obligations."
            id="org.key_project.monkey.product.ui.starter.MonKeYProjectStarter"
            name="MonKeY">
      </starter>
   </extension>
</plugin>
