# This file lists the aspects to be compiled into the
# system , if the AspectJ compiler is used.
#
# Lines beginning with a hash mark are comments.
#
# Acpects should only be put into the package
# aspects (i.e. this directory) or its sub-packages
# so that the the make system knows that these files are not
# to be passed to the normal Java compilers.
#

#
# An aspect that checks for violations of the 
# Swing Single-Thread rule.  Switch logging
# for key.aspects to WARN to see the output.
#
aspects/CheckSwingThreadRule.java

#
# An aspect that complains about calls to constructors of 
# subclasses of de.uka.ilkd.key.logic.Term outside of
# the TermFactory
#
aspects/TermCreation.java
