/* Styles for the TreeView component */
.tree-cell:selected {
  -fx-background-color: rgb(150, 200, 250);
}

/* Styles used for all nodes */

.branch_node, .leaf_node, .notes_node, .active_node {
   -fx-text-fill: rgb(0,0,0);
}

/* Node specific styles */

.branch_node {
   -fx-background-color: rgb(240, 228, 196); /* BISQUE_COLOR */
}

.leaf_node.closed_node {
   -fx-background-color: rgb(0, 128, 51); /* DARK_GREEN_COLOR */
}

.leaf_node.open_node {
   -fx-text-fill: rgb(191, 0, 0); /* DARK_RED_COLOR */
}

.leaf_node.linked_node {
   -fx-text-fill: rgb(255, 0, 240); /* PINK_COLOR */
}

.leaf_node.interactive_node {
   -fx-text-fill: rgb(255, 140, 0); /* ORANGE COLOR */
   
}

.notes_node {
   -fx-background-color: rgb(255, 140, 0); /* ORANGE_COLOR */
}

.active_node  {
   -fx-background-color: rgb(230, 254, 255); /* LIGHT_BLUE_COLOR */
}

/*
 * ProofTreeView Colors
 *  private static final Color GRAY_COLOR = Color.DARK_GRAY;
    private static final Color DARK_BLUE_COLOR = new Color(31, 77, 153);
 
 */