/* Styles for the TreeView component */

* {
  -fx-text-fill: rgb(255, 255, 255);
}


.proof_tree .tree-cell:selected {
	-fx-background-color: rgb(18, 144, 195);
	-fx-text-fill: rgb(255, 255, 255) !important;
	-fx-border-color: rgb(100, 100, 100);
} 

.proof_tree .tree-cell {
    -fx-background-color: rgb(50, 50, 50);
}

.tree-cell:selected {
  -fx-background-color: rgb(150, 200, 250);
}

/* Styles used for all special nodes */

.branch_node, .leaf_node, .notes_node, .active_node {
   -fx-font-weight: bold;
}

/* Node specific styles */

.branch_node {
	   /*-fx-text-fill: rgb(62, 171, 230);*/
	   -fx-text-fill: orange;
}

.branch_node.closed_node {
	   -fx-text-fill: rgb(30, 181, 64);
}

.branch_node.linked_node {
	   -fx-text-fill: rgb(233, 105, 166);
}

.leaf_node.closed_node {
   -fx-background-color: rgb(0, 128, 51); /* DARK_GREEN_COLOR */
}

.leaf_node.open_node {
   -fx-text-fill: rgb(191, 0, 0); /* DARK_RED_COLOR */
}

.leaf_node.linked_node {
   -fx-text-fill: rgb(255, 0, 240); /* PINK_COLOR */
}

.leaf_node.interactive_node {
   -fx-text-fill: rgb(255, 140, 0); /* ORANGE COLOR */  
}

.notes_node {
   -fx-background-color: rgb(255, 140, 0); /* ORANGE_COLOR */
}

.active_node  {
   -fx-background-color: rgb(230, 254, 255); /* LIGHT_BLUE_COLOR */
}

.highlighted_node {
	-fx-background-color: rgb(253, 250, 138); /* LIGHT_YELLOW_COLOR */
}


    /*-fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url("plus-arrow.png");*/


.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: rgb(230, 230, 230);
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: rgb(230, 230, 230);
}