h1 {color: #0000FF;
padding: 8px;
background-color: #CCCCCC;
margin-top: 4px;
margin-bottom: 1em;
border: #0000FF 1px solid; }
.block {
  padding-left: 6px;
}
.code {
  font-family : monospace;
  font-size : 75%;
}