<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.key_project.key4eclipse.common.ui.methodStarter">
      <starter
            class="org.key_project.keyide.ui.starter.KeYIDEMethodStarter"
            description="An alternative user interface for KeY directly integrated into Eclipse."
            id="org.key_project.keyide.ui.starter.KeYIDEMethodStarter"
            name="KeYIDE">
      </starter>
   </extension>
   <extension
         point="org.key_project.key4eclipse.common.ui.fileStarter">
      <starter
            class="org.key_project.keyide.ui.starter.KeYIDEFileStarter"
            description="An alternative user interface for KeY directly integrated into Eclipse."
            id="org.key_project.keyide.ui.starter.KeYIDEFileStarter"
            name="KeYIDE">
      </starter>
   </extension>
   <extension
         point="org.key_project.key4eclipse.common.ui.proofStarter">
      <starter
            class="org.key_project.keyide.ui.starter.KeYIDEProofStarter"
            description="An alternative user interface for KeY directly integrated into Eclipse."
            id="org.key_project.keyide.ui.starter.KeYIDEProofStarter"
            name="KeYIDE">
      </starter>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.key_project.keyide.ui.editor.KeYEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="proof, key"
            icon="icons/prooffile16.png"
            id="org.key_project.keyide.ui.editor"
            name="KeY Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.key_project.key4eclipse.common.ui.category"
            description="Starts the proof auto mode with the current specification."
            id="org.key_project.keyide.ui.commands.startAutoModeCommand"
            name="Start Auto Mode">
      </command>
      <command
            categoryId="org.key_project.key4eclipse.common.ui.category"
            description="Stops the automode."
            id="org.key_project.keyide.ui.commands.stopAutoModeCommand"
            name="Stop Auto Mode">
      </command>
      <command
            categoryId="org.key_project.key4eclipse.common.ui.category"
            description="Prunes the current prove at the selected position."
            id="org.key_project.keyide.ui.commands.pruneProof"
            name="Prune Proof">
      </command>
      <command
            categoryId="org.key_project.key4eclipse.common.ui.category"
            description="Applies a Rule"
            id="org.key_project.keyide.ui.commands.applyrule"
            name="Apply Rule">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.key_project.keyide.ui.commands.startAutoModeCommand"
            icon="icons/nav_go.gif">
      </image>
      <image
            commandId="org.key_project.keyide.ui.commands.stopAutoModeCommand"
            icon="icons/terminatedlaunch_obj.gif">
      </image>
      <image
            commandId="org.key_project.keyide.ui.commands.pruneProof"
            icon="icons/prune16.png">
      </image>
      <image
            commandId="org.key_project.keyide.ui.commands.applyrule"
            icon="icons/interactiveAppLogo16.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.key_project.keyide.ui.handlers.StartAutoModeHandler"
            commandId="org.key_project.keyide.ui.commands.startAutoModeCommand">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.keyide.ui.isNotAutoMode"
                        value="true">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.keyide.ui.proofIsNotClosed"
                        value="true">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.keyide.ui.canStartAutomode"
                        value="true">
                  </test>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.keyide.ui.handlers.StopAutoModeHandler"
            commandId="org.key_project.keyide.ui.commands.stopAutoModeCommand">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     forcePluginActivation="true"
                     property="org.key_project.keyide.ui.isAutoMode"
                     value="true">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.keyide.ui.handlers.PruneProofHandler"
            commandId="org.key_project.keyide.ui.commands.pruneProof">
         <enabledWhen>
            <and>
            <with
                  variable="activeMenuSelection">
               <and>
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.keyide.ui.nodeSupportsPruning">
                  </test>
               </and>
            </with>
            <with
                  variable="activeEditor">
               <test
                     forcePluginActivation="true"
                     property="org.key_project.keyide.ui.canPruneProof"
                     value="true">
               </test>
            </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.keyide.ui.handlers.ApplyRuleHandler"
            commandId="org.key_project.keyide.ui.commands.applyrule">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     forcePluginActivation="true"
                     property="org.key_project.keyide.ui.canApplyRules"
                     value="true">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.keyide.ui.handlers.BreakpointToggleHandler"
            commandId="org.key_project.keyide.ui.commands.stopAtBreakpointsCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar
                  id="org.key_project.keyide.ui.toolbar"
                  label="KeY Editor">
                 <command
                       commandId="org.key_project.keyide.ui.commands.startAutoModeCommand"
                       icon="icons/nav_go.gif"
                       id="org.key_project.keyide.ui.commands.startAutoModeCommand"
                       label="Start Auto Mode"
                       tooltip="Start Auto Mode">
                    <visibleWhen
                          checkEnabled="false">
                       <with
                             variable="activeEditorId">
                          <equals
                                value="org.key_project.keyide.ui.editor">
                          </equals>
                       </with>
                    </visibleWhen>
                </command>
                 <command
                       commandId="org.key_project.keyide.ui.commands.stopAutoModeCommand"
                       icon="icons/terminatedlaunch_obj.gif"
                       id="org.key_project.keyide.ui.commands.stopAutoModeCommand"
                       label="Stop Auto Mode"
                       style="push">
                    <visibleWhen
                          checkEnabled="false">
                       <with
                             variable="activeEditorId">
                          <equals
                                value="org.key_project.keyide.ui.editor">
                          </equals>
                       </with>
                    </visibleWhen>
                 </command>
                 <command
                       commandId="org.key_project.keyide.ui.commands.stopAtBreakpointsCommand"
                       icon="icons/breakpoints.gif"
                       id="org.key_project.keyide.ui.commands.stopAtBreakpointsCommand"
                       label="Stop at Breakpoints"
                       style="toggle">
                    <visibleWhen
                          checkEnabled="false">
                       <with
                             variable="activeEditorId">
                          <equals
                                value="org.key_project.keyide.ui.editor">
                          </equals>
                       </with>
                    </visibleWhen>
                 </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.key_project.keyide.ui.view.outline.popup?after=additions">
         <command
               commandId="org.key_project.keyide.ui.commands.pruneProof"
               icon="icons/prune16.png"
               label="Prune Proof"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="de.uka.ilkd.key.proof.Node">
                        </adapt>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.key_project.keyide.ui.providers.BranchFolder">
                        </adapt>
                     </iterate>
                  </or>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.key_project.keyide.ui.editor.TacletContextMenu"
            locationURI="popup:#KeYEditorContext?before=group.undo">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="Starts a new proof"
            id="org.key_project.keyide.ui.commands.startProofCommand"
            name="Start Proof">
      </command>
      <category
            description="Contains all commands which are provided by the KeY Eclipse integration."
            id="org.key_project.keyide.ui.commands.category"
            name="KeY">
      </category>
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="Starts the proof auto mode with the current specification."
            id="org.key_project.keyide.ui.commands.startAutoModeCommand"
            name="Start Auto Mode">
      </command>
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="Stops the automode."
            id="org.key_project.keyide.ui.commands.stopAutoModeCommand"
            name="Stop Auto Mode">
      </command>
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="Prunes the current prove at the selected position."
            id="org.key_project.keyide.ui.commands.pruneProof"
            name="Prune Proof">
      </command>
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="Applies a Rule"
            id="org.key_project.keyide.ui.commands.applyrule"
            name="Apply Rule">
      </command>
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="If selected auto mode will stop at breakpoints and ignore them otherwise."
            id="org.key_project.keyide.ui.commands.stopAtBreakpointsCommand"
            name="Stop at Breakpoints">
         <state
               id="org.eclipse.ui.commands.toggleState">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="default"
                     value="false">
               </parameter>
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
            </class>
         </state>            
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <perspectiveShortcut
               id="org.key_project.keyide.ui.perspectives">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <perspectiveShortcut
               id="org.key_project.keyide.ui.perspectives">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="org.key_project.keyide.ui.perspectives">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.key_project.keyide.ui.perspectives.KeYPerspective"
            icon="icons/logo16.gif"
            id="org.key_project.keyide.ui.perspectives"
            name="KeY">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.key_project.key4eclipse.common.ui.preference.page.KeY"
            class="org.key_project.keyide.ui.preference.page.KeYIDEPreferencePage"
            id="org.key_project.keyide.ui.preference.page.VisualizationPreferencePage"
            name="KeY Perspective">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.key_project.keyide.ui.util.KeYIDEPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.key_project.keyide.ui.view.category"
            name="KeYIDE">
      </category>
      <view
            category="org.key_project.keyide.ui.view.category"
            class="org.key_project.keyide.ui.views.StrategySettingsView"
            icon="icons/debugtt_obj.gif"
            id="org.key_project.keyide.ui.view.StrategySettings"
            name="Strategy Settings"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.key_project.keyide.ui.keyPropertyContributor">
         <propertyCategory></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.key_project.keyide.ui.propertyTester.AutoModePropertyTester"
            id="org.key_project.keyide.ui.AutoModeTester"
            namespace="org.key_project.keyide.ui"
            properties="isAutoMode, isNotAutoMode"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
      <propertyTester
            class="org.key_project.keyide.ui.propertyTester.PruneProofPropertyTester"
            id="org.key_project.keyide.ui.PruneProofTester"
            namespace="org.key_project.keyide.ui"
            properties="nodeSupportsPruning"
            type="org.eclipse.jface.viewers.IStructuredSelection">
      </propertyTester>
      <propertyTester
            class="org.key_project.keyide.ui.propertyTester.CanFunctionPropertyTester"
            id="org.key_project.keyide.ui.CanFunctionPropertyTester"
            namespace="org.key_project.keyide.ui"
            properties="canStartAutomode, canApplyRules, canPruneProof, canStartSMTSolver"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
      <propertyTester
            class="org.key_project.keyide.ui.propertyTester.ProofPropertyTester"
            id="org.key_project.keyide.ui.ProofPropertyTester"
            namespace="org.key_project.keyide.ui"
            properties="proofIsNotClosed"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
         <propertyContributor
               contributorId="org.key_project.keyide.ui.KeYPropertyContributor">
            <propertyCategory
                  category="KeY">
            </propertyCategory>
         </propertyContributor>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs
               contributorId="org.key_project.keyide.ui.KeYPropertyContributor">
            <propertyTab
                  category="KeY"
                  id="org.key_project.keyide.ui.termPropertyTab"
                  label="Term">
            </propertyTab>
            <propertyTab
                  afterTab="org.key_project.keyide.ui.termPropertyTab"
                  category="KeY"
                  id="org.key_project.keyide.ui.nodePropertyTab"
                  label="Node">
            </propertyTab>
            <propertyTab
                  afterTab="org.key_project.keyide.ui.nodePropertyTab"
                  category="KeY"
                  id="org.key_project.keyide.ui.proofPropertyTab"
                  label="Proof">
            </propertyTab>
            <propertyTab
                  afterTab="org.key_project.keyide.ui.proofPropertyTab"
                  category="KeY"
                  id="org.key_project.keyide.ui.tacletPropertyTab"
                  label="Taclet">
            </propertyTab>
         </propertyTabs>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="org.key_project.keyide.ui.KeYPropertyContributor">
            <propertySection
                  class="org.key_project.keyide.ui.property.NodePropertySection"
                  filter="org.key_project.keyide.ui.property.NodePropertyFilter"
                  id="org.key_project.keyide.ui.property.NodePropertySection"
                  tab="org.key_project.keyide.ui.nodePropertyTab">
            </propertySection>
            <propertySection
                  class="org.key_project.keyide.ui.property.ProofPropertySection"
                  filter="org.key_project.keyide.ui.property.ProofPropertyFilter"
                  id="org.key_project.keyide.ui.property.ProofPropertySection"
                  tab="org.key_project.keyide.ui.proofPropertyTab">
            </propertySection>
            <propertySection
                  class="org.key_project.keyide.ui.property.TermPropertySection"
                  filter="org.key_project.keyide.ui.property.TermPropertyFilter"
                  id="org.key_project.keyide.ui.property.TermPropertySection"
                  tab="org.key_project.keyide.ui.termPropertyTab">
            </propertySection>
            <propertySection
                  class="org.key_project.keyide.ui.property.TacletPropertySection"
                  filter="org.key_project.keyide.ui.property.TacletPropertyFilter"
                  id="org.key_project.keyide.ui.property.TacletPropertySection"
                  tab="org.key_project.keyide.ui.tacletPropertyTab">
            </propertySection>
         </propertySections>
      </extension>  

</plugin>
