<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.key_project.keyide.ui.editor.KeYEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            extensions="proof, key"
            icon="icons/logo16.gif"
            id="org.key_project.keyide.ui.editor"
            name="KeY Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.key_project.keyide.ui.commands.startProofCommand"
            icon="icons/logo16.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.key_project.keyide.ui.handlers.StartProofHandler"
            commandId="org.key_project.keyide.ui.commands.startProofCommand">
         <enabledWhen>
            <or>
               <iterate>
                  <instanceof
                        value="org.eclipse.jdt.core.IMethod">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.jdt.core.javanature">
                     </test>
                  </adapt>
               </iterate>
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="org.eclipse.jdt.ui.CompilationUnitEditor">
                     </equals>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                     </adapt>
                  </with>
                  <with
                        variable="selection">
                     <and>
                        <instanceof
                              value="org.eclipse.jface.text.ITextSelection">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.key_project.key4eclipse.starter.core.javaTextSelection.selectedElementInstanceOf"
                              value="org.eclipse.jdt.core.IMethod">
                        </test>
                     </and>
                  </with></and>
            </or></enabledWhen>
      </handler>
      <handler
            class="org.key_project.keyide.ui.handlers.StartAutoModeHandler"
            commandId="org.key_project.keyide.ui.commands.startAutoModeCommand">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     property="org.key_project.keyide.ui.AutoModeTester.start"
                     value="true">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.keyide.ui.handlers.StopAutoModeHandler"
            commandId="org.key_project.keyide.ui.commands.stopAutoModeCommand">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     property="org.key_project.keyide.ui.AutoModeTester.stop"
                     value="true">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.keyide.ui.handlers.PruneProofHandler"
            commandId="org.key_project.keyide.ui.commands.pruneProof">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <test
                     property="org.key_project.keyide.ui.PruneProofTester.isClosed">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.keyide.ui.handlers.ApplyRuleHandler"
            commandId="org.key_project.keyide.ui.commands.applyrule">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.key_project.keyide.ui.commands.startProofCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.key_project.keyide.ui.menus.keymenu"
               label="KeY"
               mnemonic="K">
            <command
                  commandId="org.key_project.keyide.ui.commands.startProofCommand"
                  icon="icons/logo16.gif"
                  id="org.key_project.keyide.ui.commands.startProofCommand"
                  label="Start Proof"
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.key_project.keyide.ui.commands.startProofCommand"
               icon="icons/logo16.gif"
               id="org.key_project.keyide.ui.commands.startProofCommand"
               label="Start Proof"
               mnemonic="P"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.jdt.core.IMethod">
                     </instanceof>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                     </adapt>
                  </iterate>
                  <and>
                     <with
                           variable="activePartId">
                        <equals
                              value="org.eclipse.jdt.ui.CompilationUnitEditor">
                        </equals>
                     </with>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.jdt.core.javanature">
                           </test>
                        </adapt>
                     </with>
                     <with
                           variable="selection">
                        <and>
                           <instanceof
                                 value="org.eclipse.jface.text.ITextSelection">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="org.key_project.key4eclipse.starter.core.javaTextSelection.selectedElementInstanceOf"
                                 value="org.eclipse.jdt.core.IMethod">
                           </test>
                        </and>
                     </with>
                  </and>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar
               id="org.key_project.keyide.ui.toolbar">
                 <command
                       commandId="org.key_project.keyide.ui.commands.startAutoModeCommand"
                       icon="icons/start.gif"
                       id="org.key_project.keyide.ui.commands.startAutoModeCommand"
                       label="Start Auto Mode"
                       tooltip="Start Auto Mode">
                    <visibleWhen
                          checkEnabled="false">
                       <with
                             variable="activeEditorId">
                          <equals
                                value="org.key_project.keyide.ui.editor">
                          </equals>
                       </with>
                    </visibleWhen>
                </command>
                 <command
                       commandId="org.key_project.keyide.ui.commands.stopAutoModeCommand"
                       icon="icons/stop.gif"
                       id="org.key_project.keyide.ui.commands.stopAutoModeCommand"
                       label="Stop Auto Mode"
                       style="push">
                    <visibleWhen
                          checkEnabled="false">
                       <with
                             variable="activeEditorId">
                          <equals
                                value="org.key_project.keyide.ui.editor">
                          </equals>
                       </with>
                    </visibleWhen>
                 </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.key_project.keyide.ui.view.outline.popup?after=additions">
         <command
               commandId="org.key_project.keyide.ui.commands.pruneProof"
               icon="icons/prune.png"
               label="Prune Proof"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="de.uka.ilkd.key.proof.Node">
                        </adapt>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.key_project.keyide.ui.providers.BranchFolder">
                        </adapt>
                     </iterate>
                  </or>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.key_project.keyide.ui.editor.TacletContextMenu"
            locationURI="popup:#KeYEditorContext?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="Starts a new proof"
            id="org.key_project.keyide.ui.commands.startProofCommand"
            name="Start Proof">
      </command>
      <category
            description="Contains all commands which are provided by the KeY Eclipse integration."
            id="org.key_project.keyide.ui.commands.category"
            name="KeY">
      </category>
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="Starts the proof auto mode with the current specification."
            id="org.key_project.keyide.ui.commands.startAutoModeCommand"
            name="Start Auto Mode">
      </command>
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="Stops the automode."
            id="org.key_project.keyide.ui.commands.stopAutoModeCommand"
            name="Stop Auto Mode">
      </command>
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="Prunes the current prove at the selected position."
            id="org.key_project.keyide.ui.commands.pruneProof"
            name="Prune Proof">
      </command>
      <command
            categoryId="org.key_project.keyide.ui.commands.category"
            description="Applies a Rule"
            id="org.key_project.keyide.ui.commands.applyrule"
            name="Apply Rule">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <perspectiveShortcut
               id="org.key_project.keyide.ui.perspectives">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <perspectiveShortcut
               id="org.key_project.keyide.ui.perspectives">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="org.key_project.keyide.ui.perspectives">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.key_project.keyide.ui.perspectives.KeYPerspective"
            icon="icons/logo16.gif"
            id="org.key_project.keyide.ui.perspectives"
            name="KeY">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Perspectives"
            class="org.key_project.keyide.ui.preference.page.KeYIDEPreferencePage"
            id="org.key_project.keyide.ui.preference.page.VisualizationPreferencePage"
            name="KeY preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.key_project.keyide.ui.util.KeYIDEPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.key_project.keyide.ui.view.category"
            name="KeY">
      </category>
      <view
            category="org.key_project.keyide.ui.view.category"
            class="org.key_project.keyide.ui.views.ProofTreeContentOutlinePage"
            icon="icons/logo16.gif"
            id="org.key_project.keyide.ui.view.outline"
            name="Proof"
            restorable="true">
      </view>
      <view
            category="org.key_project.keyide.ui.view.category"
            class="org.key_project.keyide.ui.views.StrategyPropertiesView"
            icon="icons/releng_gears.gif"
            id="org.key_project.keyide.ui.view.StrategyProperties"
            name="Strategy Properties"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.key_project.keyide.ui.keyPropertyContributor">
         <propertyCategory></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.key_project.keyide.ui.tester.AutoModeTester"
            id="org.key_project.keyide.ui.AutoModeTester"
            namespace="org.key_project.keyide.ui.AutoModeTester"
            properties="start, stop"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
      <propertyTester
            class="org.key_project.keyide.ui.tester.PruneProofTester"
            id="org.key_project.keyide.ui.PruneProofTester"
            namespace="org.key_project.keyide.ui.PruneProofTester"
            properties="isClosed"
            type="org.eclipse.jface.viewers.StructuredSelection">
      </propertyTester>
   </extension>

</plugin>
