<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.key_project.sed.key.core.launch.KeYSourceLookupDirector"
            id="org.key_project.sed.key.core.launch.sed.key.sourceLocator"
            name="Example Source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.key_project.sed.key.core.launch.KeYSourcePathComputerDelegate"
            id="org.key_project.sed.key.core.launch.sed.key.sourcePathComputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.key_project.sed.key.core.launch.KeYLaunchConfigurationDelegate"
            id="org.key_project.sed.key.core.launch.sed.key"
            modes="debug"
            name="Symbolic Execution Debugger (SED)"
            sourceLocatorId="org.key_project.sed.key.core.launch.sed.key.sourceLocator"
            sourcePathComputerId="org.key_project.sed.key.core.launch.sed.key.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.key_project.sed.key.core.util.KeYSEDPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.key_project.sed.key.core.propertyTester.KeYSEDDebugNodeHasExecutionStateNodePropertyTester"
            id="org.key_project.sed.key.core.keySedDebugNodeHasExecutionStateNode"
            namespace="org.key_project.sed.key.core"
            properties="keySedDebugNodeHasExecutionStateNode"
            type="org.key_project.sed.key.core.model.IKeYSEDDebugNode">
      </propertyTester>
   </extension>
   <extension
         point="org.key_project.util.setupParticipants">
      <participant
            class="org.key_project.sed.key.core.setup.StrategyPropertiesSetupParticipant">
      </participant>
   </extension>
</plugin>
