<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.hentschel.visualdbc.example.category"
            name="Visual DbC"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/de.hentschel.visualdbc.example.category"
            class="de.hentschel.visualdbc.example.wizard.BankingWizard"
            finalPerspective="de.hentschel.visualdbc.perspective"
            icon="icon/ExampleIcon.gif"
            id="de.hentschel.visualdbc.example.wizard.BankingWizard"
            name="Banking Example"
            preferredPerspectives="de.hentschel.visualdbc.perspective"
            project="true">
         <description>
            Create a new Java Project and fill it with the Banking Example.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <action
            name="BankingExample"
            replaces="runAction?pluginId=de.hentschel.visualdbc.example&amp;class=de.hentschel.visualdbc.example.action.BankingWizardIntroAction">
      </action>
      <configExtension
            content="intro/bankingExample.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
</plugin>
