body, html {
    margin: 0;
    font-family: Arial;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}

ul, #fileTree {
    list-style-type: none;
}

#fileTree {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    transform: rotate(90deg);
}

.caret-down::before {
    transform: rotate(0deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

table {
    border-collapse: separate;
    border-spacing: 1px 1px;
}

th {
    vertical-align: top;
    text-align: left;
}

th.clickable {
    cursor: pointer;
}

td {
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}

tr.blue {
    color: #284FA8;
    background-color: #DAE7FE;
}

td.SCCs {
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    color: #284FA8;
}

thead.tableHead {
    text-align: center;
    color: #FFFFFF;
    background-color: #6688D4;
    font-family: sans-serif;
    font-size: 120%;
    font-weight: bold;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
}

#messages span {
    display: block;
    white-space: pre;
}
