<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.key_project.javaeditor.javaConfigurationExtensions">
      <javaConfigurationExtensions
            class="org.key_project.jmlediting.ui.extension.JMLSourceViewerConfigurationExtension"
            id="org.key_project.jmlediting.ui.extension.JMLSourceViewerConfigurationExtension"
            name="JML"
            defaultEnabled="true">
      </javaConfigurationExtensions>
   </extension>
   <extension
         id="org.key_project.jmlediting.ui.JMLcompletion"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="org.key_project.jmlediting.ui.completion.JMLCompletionProposalComputer"
            needsSortingAfterFiltering="false">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="true"
            class="org.key_project.jmlediting.ui.hover.JMLTextHover"
            description="JML Text Hovers"
            id="org.key_project.jmlediting.ui.hover.JMLTextHover"
            label="JML">
      </hover>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.key_project.jmlediting.ui.JMLProjectPropertiesPage"
            id="org.key_project.jmlediting.ui.jmlprojectproperties"
            name="JML">
            <enabledWhen>
               <adapt type="org.eclipse.core.resources.IProject">
                  <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
               </adapt>         
            </enabledWhen>
      </page>
      <page
            class="org.key_project.jmlediting.ui.JMLProfilePropertiesPage"
            id="org.key_project.jmlediting.ui.propertypages.profile"
            name="Profile"
            category="org.key_project.jmlediting.ui.jmlprojectproperties">
            <enabledWhen>
               <adapt type="org.eclipse.core.resources.IProject">
                  <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
               </adapt>         
            </enabledWhen>
      </page>
      <page
            category="org.key_project.jmlediting.ui.jmlprojectproperties"
            class="org.key_project.jmlediting.ui.JMLColorPropertyPreferencePage"
            id="org.key_project.jmlediting.ui.propertypages.color"
            name="Color">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="org.key_project.jmlediting.ui.JMLProfilePropertiesPage"
            id="org.key_project.jmlediting.ui.preferences.profile"
            name="JMLProfile">
      </page>
      <page
            category="org.key_project.jmlediting.ui.preferences.profile"
            class="org.key_project.jmlediting.ui.JMLColorPropertyPreferencePage"
            id="org.key_project.jmlediting.ui.preferences.color"
            name="Color">
      </page>
   </extension>

</plugin>
