<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.key_project.key4eclipse.common.ui.property.KeYProjectPropertyPage"
            id="org.key_project.key4eclipse.common.ui.keyProjectProperties"
            name="KeY">
         <enabledWhen>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </and>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.key_project.key4eclipse.common.ui.preference.page.KeYPreferencePage"
            id="org.key_project.key4eclipse.common.ui.preference.page.KeY"
            name="KeY">
      </page>
      <page
            category="org.key_project.key4eclipse.common.ui.preference.page.KeY"
            class="org.key_project.key4eclipse.common.ui.preference.page.TacletOptionsPreferencePage"
            id="org.key_project.key4eclipse.common.ui.preference.page.TacletOptions"
            name="Taclet Options">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.key_project.key4eclipse.common.ui.example.category"
            name="KeY"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/org.key_project.key4eclipse.common.ui.example.category"
            class="org.key_project.key4eclipse.common.ui.wizard.KeYExampleNewWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/logo16.gif"
            id="org.key_project.key4eclipse.common.ui.KeYExampleNewWizard"
            name="KeY Example"
            project="true">
         <description>
            Create a new Java Project and fill it with an example provided by KeY.
         </description>
      </wizard>
   </extension>

</plugin>
