<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.key_project.key4eclipse.common.ui.globalStarter" name="Global Starter" schema="schema/org.key_project.key4eclipse.common.ui.globalStarter.exsd"/>
   <extension-point id="org.key_project.key4eclipse.common.ui.methodStarter" name="Method Starter" schema="schema/org.key_project.key4eclipse.common.ui.methodStarter.exsd"/>
   <extension-point id="org.key_project.key4eclipse.common.ui.fileStarter" name="File Starter" schema="schema/org.key_project.key4eclipse.common.ui.fileStarter.exsd"/>
   <extension-point id="org.key_project.key4eclipse.common.ui.projectStarter" name="Project Starter" schema="schema/org.key_project.key4eclipse.common.ui.projectStarter.exsd"/>
   <extension-point id="org.key_project.key4eclipse.common.ui.proofStarter" name="Proof Starter" schema="schema/org.key_project.key4eclipse.common.ui.proofStarter.exsd"/>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.key_project.key4eclipse.common.ui.property.KeYProjectPropertyPage"
            id="org.key_project.key4eclipse.common.ui.keyProjectProperties"
            name="KeY">
         <enabledWhen>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </and>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.key_project.key4eclipse.common.ui.preference.page.KeYPreferencePage"
            id="org.key_project.key4eclipse.common.ui.preference.page.KeY"
            name="KeY">
      </page>
      <page
            category="org.key_project.key4eclipse.common.ui.preference.page.KeY"
            class="org.key_project.key4eclipse.common.ui.preference.page.StarterPreferencePage"
            id="org.key_project.key4eclipse.common.ui.preference.page.StarterPreferencePage"
            name="Applications">
      </page>
      <page
            category="org.key_project.key4eclipse.common.ui.preference.page.KeY"
            class="org.key_project.key4eclipse.common.ui.preference.page.TacletOptionsPreferencePage"
            id="org.key_project.key4eclipse.common.ui.preference.page.TacletOptions"
            name="Taclet Options">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.key_project.key4eclipse.common.ui.example.category"
            name="KeY"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/org.key_project.key4eclipse.common.ui.example.category"
            class="org.key_project.key4eclipse.common.ui.wizard.KeYExampleNewWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/logo16.gif"
            id="org.key_project.key4eclipse.common.ui.KeYExampleNewWizard"
            name="KeY Example"
            project="true">
         <description>
            Create a new Java Project and fill it with an example provided by KeY.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Contains all commands which are provided by the KeY project."
            id="org.key_project.key4eclipse.common.ui.category"
            name="KeY">
      </category>
      <command
            categoryId="org.key_project.key4eclipse.common.ui.category"
            description="Open an application without loading any specific content."
            id="org.key_project.key4eclipse.common.ui.globalStarterCommand"
            name="Open Application">
      </command>
      <command
            categoryId="org.key_project.key4eclipse.common.ui.category"
            description="Starts a new proof."
            id="org.key_project.key4eclipse.common.ui.startProofCommand"
            name="Start Proof">
      </command>
      <command
            categoryId="org.key_project.key4eclipse.common.ui.category"
            description="Loads the selected file."
            id="org.key_project.key4eclipse.common.ui.loadFileCommand"
            name="Load File">
      </command>
      <command
            categoryId="org.key_project.key4eclipse.common.ui.category"
            description="Loads the selected project."
            id="org.key_project.key4eclipse.common.ui.loadProjectCommand"
            name="Load Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.key_project.key4eclipse.common.ui.globalStarterCommand"
            icon="icons/logo16.gif">
      </image>
      <image
            commandId="org.key_project.key4eclipse.common.ui.startProofCommand"
            icon="icons/logo16.gif">
      </image>
      <image
            commandId="org.key_project.key4eclipse.common.ui.loadFileCommand"
            icon="icons/logo16.gif">
      </image>
      <image
            commandId="org.key_project.key4eclipse.common.ui.loadProjectCommand"
            icon="icons/logo16.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.key_project.key4eclipse.common.ui.handler.GlobalStarterHandler"
            commandId="org.key_project.key4eclipse.common.ui.globalStarterCommand">
         <enabledWhen>
            <test
                  forcePluginActivation="true"
                  property="org.key_project.key4eclipse.common.ui.globalStarterAvailable">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.key4eclipse.common.ui.handler.MethodStarterHandler"
            commandId="org.key_project.key4eclipse.common.ui.startProofCommand">
         <enabledWhen>
            <or>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.jdt.core.IMethod">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.jdt.core.javanature">
                     </test>
                  </adapt>
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.key4eclipse.common.ui.methodStarterAvailable">
                  </test>
               </iterate>
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="org.eclipse.jdt.ui.CompilationUnitEditor">
                     </equals>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                     </adapt>
                  </with>
                  <with
                        variable="selection">
                     <and>
                        <instanceof
                              value="org.eclipse.jface.text.ITextSelection">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.key_project.key4eclipse.starter.core.javaTextSelection.selectedElementInstanceOf"
                              value="org.eclipse.jdt.core.IMethod">
                        </test>
                     </and>
                  </with>
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.key4eclipse.common.ui.methodStarterAvailable">
                  </test>
               </and>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.key4eclipse.common.ui.handler.FileStarterHandler"
            commandId="org.key_project.key4eclipse.common.ui.loadFileCommand">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     forcePluginActivation="true"
                     property="org.key_project.key4eclipse.common.ui.fileStarterAvailable">
               </test>
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="key">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="proof">
                        </test>
                     </or>
                  </and>
                  <with
                        variable="activeEditorInput">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.extension"
                                 value="key">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.extension"
                                 value="proof">
                           </test>
                        </or>
                     </adapt>
                  </with>
               </or>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.key4eclipse.common.ui.handler.ProjectStarterHandler"
            commandId="org.key_project.key4eclipse.common.ui.loadProjectCommand">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.jdt.core.javanature">
                     </test>
                  </and>
                  <instanceof
                        value="org.eclipse.jdt.core.IJavaProject">
                  </instanceof>
               </or>
               <test
                     forcePluginActivation="true"
                     property="org.key_project.key4eclipse.common.ui.projectStarterAvailable">
               </test>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.key_project.key4eclipse.common.ui.startProofCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>
      <key
            commandId="org.key_project.key4eclipse.common.ui.loadFileCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+L">
      </key>
      <key
            commandId="org.key_project.key4eclipse.common.ui.loadProjectCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+L">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.key_project.key4eclipse.common.ui.keyMenu"
               label="KeY"
               mnemonic="K">
            <command
                  commandId="org.key_project.key4eclipse.common.ui.globalStarterCommand"
                  icon="icons/logo16.gif"
                  id="org.key_project.key4eclipse.common.ui.globalStarterCommand"
                  label="Open Application"
                  mnemonic="O"
                  style="push"
                  tooltip="Open an application without loading any specific content.">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.key4eclipse.common.ui.globalStarterAvailable">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.key_project.key4eclipse.common.ui.startProofCommand"
                  icon="icons/logo16.gif"
                  id="org.key_project.key4eclipse.common.ui.startProofCommand"
                  label="Start Proof"
                  mnemonic="P"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.key4eclipse.common.ui.methodStarterAvailable">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.key_project.key4eclipse.common.ui.loadFileCommand"
                  icon="icons/logo16.gif"
                  id="org.key_project.key4eclipse.common.ui.loadFileCommand"
                  label="Load File"
                  mnemonic="L"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.key4eclipse.common.ui.fileStarterAvailable">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.key_project.key4eclipse.common.ui.loadProjectCommand"
                  icon="icons/logo16.gif"
                  id="org.key_project.key4eclipse.common.ui.loadProjectCommand"
                  label="Load Project"
                  mnemonic="L"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.key4eclipse.common.ui.projectStarterAvailable">
                  </test>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.key_project.key4eclipse.common.ui.keyToolbar"
               label="KeY">
            <command
                  commandId="org.key_project.key4eclipse.common.ui.globalStarterCommand"
                  icon="icons/logo16.gif"
                  id="org.key_project.key4eclipse.common.ui.globalStarterCommand"
                  label="Open Application"
                  mnemonic="O"
                  style="push"
                  tooltip="Open an application without loading any specific content.">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        forcePluginActivation="true"
                        property="org.key_project.key4eclipse.common.ui.globalStarterAvailable">
                  </test>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.key_project.key4eclipse.common.ui.startProofCommand"
               icon="icons/logo16.gif"
               id="org.key_project.key4eclipse.common.ui.startProofCommand"
               label="Start Proof"
               mnemonic="P"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.jdt.core.IMethod">
                     </instanceof>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                     </adapt>
                     <test
                           forcePluginActivation="true"
                           property="org.key_project.key4eclipse.common.ui.methodStarterAvailable">
                     </test>
                  </iterate>
                  <and>
                     <with
                           variable="activePartId">
                        <equals
                              value="org.eclipse.jdt.ui.CompilationUnitEditor">
                        </equals>
                     </with>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.jdt.core.javanature">
                           </test>
                        </adapt>
                     </with>
                     <with
                           variable="selection">
                        <and>
                           <instanceof
                                 value="org.eclipse.jface.text.ITextSelection">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="org.key_project.key4eclipse.starter.core.javaTextSelection.selectedElementInstanceOf"
                                 value="org.eclipse.jdt.core.IMethod">
                           </test>
                        </and>
                     </with>
                     <test
                           forcePluginActivation="true"
                           property="org.key_project.key4eclipse.common.ui.methodStarterAvailable">
                     </test>
                  </and>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.key_project.key4eclipse.common.ui.loadFileCommand"
               icon="icons/logo16.gif"
               id="org.key_project.key4eclipse.common.ui.loadFileCommand"
               label="Load File"
               mnemonic="L"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="and">
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.key_project.key4eclipse.common.ui.fileStarterAvailable">
                     </test>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="key">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="proof">
                        </test>
                     </or>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.key_project.key4eclipse.common.ui.loadProjectCommand"
               icon="icons/logo16.gif"
               id="org.key_project.key4eclipse.common.ui.loadProjectCommand"
               label="Load Project"
               mnemonic="L"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <test
                           forcePluginActivation="true"
                           property="org.key_project.key4eclipse.common.ui.projectStarterAvailable">
                     </test>
                     <or>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.jdt.core.javanature">
                           </test>
                        </and>
                        <instanceof
                              value="org.eclipse.jdt.core.IJavaProject">
                        </instanceof>
                     </or>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.key_project.key4eclipse.common.ui.util.StarterPreferenceUtilInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.key_project.key4eclipse.common.ui.expression.GlobalStarterAvailablePropertyTester"
            id="org.key_project.key4eclipse.common.ui.expression.GlobalStarterAvailablePropertyTester"
            namespace="org.key_project.key4eclipse.common.ui"
            properties="globalStarterAvailable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.key_project.key4eclipse.common.ui.expression.MethodStarterAvailablePropertyTester"
            id="org.key_project.key4eclipse.common.ui.expression.MethodStarterAvailablePropertyTester"
            namespace="org.key_project.key4eclipse.common.ui"
            properties="methodStarterAvailable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.key_project.key4eclipse.common.ui.expression.FileStarterAvailablePropertyTester"
            id="org.key_project.key4eclipse.common.ui.expression.FileStarterAvailablePropertyTester"
            namespace="org.key_project.key4eclipse.common.ui"
            properties="fileStarterAvailable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.key_project.key4eclipse.common.ui.expression.ProjectStarterAvailablePropertyTester"
            id="org.key_project.key4eclipse.common.ui.expression.ProjectStarterAvailablePropertyTester"
            namespace="org.key_project.key4eclipse.common.ui"
            properties="projectStarterAvailable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.key_project.key4eclipse.common.ui.expression.ProofStarterAvailablePropertyTester"
            id="org.key_project.key4eclipse.common.ui.expression.ProofStarterAvailablePropertyTester"
            namespace="org.key_project.key4eclipse.common.ui"
            properties="proofStarterAvailable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            extensions="proof, key"
            icon="icons/prooffile16.png"
            id="org.key_project.key4eclipse.common.ui.keyTextEditor"
            name="KeY Text Editor">
      </editor>
   </extension>
   <extension
         point="org.key_project.util.setupParticipants">
      <participant
            class="org.key_project.key4eclipse.common.ui.setup.TacletOptionsSetupParticipant">
      </participant>
   </extension>
   <!--
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
       <file-association
             content-type="org.eclipse.core.runtime.text"
             file-extensions="proof">
       </file-association>
       <file-association
             content-type="org.eclipse.core.runtime.text"
             file-extensions="key">
       </file-association>
   </extension>
   -->
</plugin>
