<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.key_project.sed.key.core.launch.sed.key"
            icon="icons/logo16.gif"
            id="org.key_project.sed.key.core.launch.sed.key.typeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.key_project.sed.key.ui.launch.KeYLaunchConfigurationTabGroup"
            id="org.key_project.sed.key.core.launch.sed.key.tabGroup"
            type="org.key_project.sed.key.core.launch.sed.key">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.key_project.sed.key.ui.launch.KeYLaunchShortcut"
            icon="icons/logo16.gif"
            id="org.key_project.sed.key.core.launch.sed.key.shortcut"
            label="Symbolic Execution Debugger (SED)"
            modes="debug">
         <configurationType
               id="org.key_project.sed.key.core.launch.sed.key">
         </configurationType>
         <description
               description="Symbolic Execution Debugger based on KeY"
               mode="debug">
         </description>
       <contextualLaunch>
          <enablement>
             <or>
                <with
                      variable="selection">
                   <and>
                      <count
                            value="1">
                      </count>
                      <iterate
                            ifEmpty="false"
                            operator="and">
                         <instanceof
                               value="org.eclipse.jdt.core.IMethod">
                         </instanceof>
                         <adapt
                               type="org.eclipse.core.resources.IResource">
                            <test
                                  forcePluginActivation="true"
                                  property="org.eclipse.core.resources.projectNature"
                                  value="org.eclipse.jdt.core.javanature">
                            </test>
                         </adapt>
                      </iterate>
                   </and>
                </with>
                <and>
                   <with
                         variable="activePartId">
                      <equals
                            value="org.eclipse.jdt.ui.CompilationUnitEditor">
                      </equals>
                   </with>
                   <with
                         variable="activeEditorInput">
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               property="org.eclipse.core.resources.projectNature"
                               value="org.eclipse.jdt.core.javanature">
                         </test>
                      </adapt>
                   </with>
                   <with
                         variable="activePart">
                      <test
                            forcePluginActivation="true"
                            property="org.key_project.key4eclipse.starter.core.compilationUnitEditor.selectedElementInstanceOf"
                            value="org.eclipse.jdt.core.IMethod">
                      </test>
                   </with>
                </and>
             </or>
          </enablement></contextualLaunch>
      </shortcut>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            name="Symbolic Execution Debugger (SED)"
            description="Symbolic Execution Debugger based on KeY"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.key_project.sed.key.core.launch.sed.key.shortcut.debug">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.key_project.sed.key.core.launch.sed.key.shortcut.debug"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+D">
      </key>
   </extension>
      <extension
            point="org.eclipse.debug.ui.debugModelPresentations">
         <debugModelPresentation
               class="org.key_project.sed.key.ui.presentation.KeYDebugModelPresentation"
               id="org.key_project.sed.key.core">
         </debugModelPresentation>
      </extension>
</plugin>
