<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.key_project.sed.key.core.launch.sed.key"
            icon="icons/logo16.gif"
            id="org.key_project.sed.key.core.launch.sed.key.typeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.key_project.sed.key.ui.launch.KeYLaunchConfigurationTabGroup"
            id="org.key_project.sed.key.core.launch.sed.key.tabGroup"
            type="org.key_project.sed.key.core.launch.sed.key">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.key_project.sed.key.ui.launch.KeYLaunchShortcut"
            icon="icons/logo16.gif"
            id="org.key_project.sed.key.core.launch.sed.key.shortcut"
            label="Symbolic Execution Debugger (SED)"
            modes="debug">
         <configurationType
               id="org.key_project.sed.key.core.launch.sed.key">
         </configurationType>
         <description
               description="Symbolic Execution Debugger based on KeY"
               mode="debug">
         </description>
       <contextualLaunch>
          <enablement>
             <or>
                <with
                      variable="selection">
                   <and>
                      <count
                            value="1">
                      </count>
                      <iterate
                            ifEmpty="false"
                            operator="and">
                         <instanceof
                               value="org.eclipse.jdt.core.IMethod">
                         </instanceof>
                         <adapt
                               type="org.eclipse.core.resources.IResource">
                            <test
                                  forcePluginActivation="true"
                                  property="org.eclipse.core.resources.projectNature"
                                  value="org.eclipse.jdt.core.javanature">
                            </test>
                         </adapt>
                      </iterate>
                   </and>
                </with>
                <and>
                   <with
                         variable="activePartId">
                      <equals
                            value="org.eclipse.jdt.ui.CompilationUnitEditor">
                      </equals>
                   </with>
                   <with
                         variable="activeEditorInput">
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               forcePluginActivation="true"
                               property="org.eclipse.core.resources.projectNature"
                               value="org.eclipse.jdt.core.javanature">
                         </test>
                      </adapt>
                   </with>
                   <with
                         variable="activePart">
                      <test
                            forcePluginActivation="true"
                            property="org.key_project.key4eclipse.starter.core.compilationUnitEditor.selectedElementInstanceOf"
                            value="org.eclipse.jdt.core.IMethod">
                      </test>
                   </with>
                </and>
                <with
                      variable="selection">
                   <and>
                      <count
                            value="1">
                      </count>
                      <iterate
                            ifEmpty="false"
                            operator="and">
                         <instanceof
                               value="org.eclipse.core.resources.IFile">
                         </instanceof>
                         <test
                               forcePluginActivation="true"
                               property="org.eclipse.core.resources.extension"
                               value="proof">
                         </test>
                      </iterate>
                   </and>
                </with>
             </or>
          </enablement></contextualLaunch>
      </shortcut>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            name="Symbolic Execution Debugger (SED)"
            description="Symbolic Execution Debugger based on KeY"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.key_project.sed.key.core.launch.sed.key.shortcut.debug">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Save KeY&apos;s proof from which the symbolic execution tree was extracted as *.proof file."
            id="org.key_project.sed.key.ui.saveProofCommand"
            name="Save Symbolic Execution Tree as Proof File">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Generates an Object Diagram for configurations of the current node."
            id="org.key_project.sed.key.ui.visualizeConfigurationsCommand"
            name="Visualize Configurations">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Opens KeY&apos;s proof from which the symbolic execution tree was extracted."
            id="org.key_project.sed.key.ui.openProofCommand"
            name="Open Proof">
      </command>
   </extension>
      <extension
            point="org.eclipse.ui.commandImages">
         <image
               commandId="org.key_project.sed.key.core.launch.sed.key.shortcut.debug"
               icon="icons/logo16.gif">
         </image>
         <image
               commandId="org.key_project.sed.key.ui.saveProofCommand"
               icon="icons/saveKeYProof.gif">
         </image>
         <image
               commandId="org.key_project.sed.key.ui.visualizeConfigurationsCommand"
               icon="icons/configurations_object_diagram.gif">
         </image>
         <image
               commandId="org.key_project.sed.key.ui.openProofCommand"
               icon="icons/logo16.gif">
         </image>
      </extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="org.key_project.sed.key.ui.command.SaveProofHandler"
               commandId="org.key_project.sed.key.ui.saveProofCommand">
            <enabledWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <and>
                        <instanceof
                              value="org.eclipse.debug.core.ILaunch">
                        </instanceof>
                        <test
                              args="notTerminated"
                              forcePluginActivation="true"
                              property="org.key_project.sed.key.ui.isSingleKeyDebugTarget">
                        </test>
                     </and>
                     <and>
                        <instanceof
                              value="org.eclipse.debug.core.model.IDebugElement">
                        </instanceof>
                        <test
                              args="notTerminated"
                              forcePluginActivation="true"
                              property="org.key_project.sed.key.ui.isSingleKeyDebugTarget">
                        </test>
                     </and>
                  </or>
               </iterate>
            </enabledWhen>
         </handler>
         <handler
               class="org.key_project.sed.key.ui.visualization.execution_tree.command.VisualizeConfigurationsCommand"
               commandId="org.key_project.sed.key.ui.visualizeConfigurationsCommand">
            <enabledWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <and>
                        <instanceof
                              value="org.key_project.sed.key.core.model.IKeYSEDDebugNode">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.key_project.sed.key.ui.canVisualizeConfigurations">
                        </test>
                     </and>
                  </or>
               </iterate>
            </enabledWhen>
         </handler>
         <handler
               class="org.key_project.sed.key.ui.command.OpenProofHandler"
               commandId="org.key_project.sed.key.ui.openProofCommand">
            <enabledWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <and>
                        <instanceof
                              value="org.eclipse.debug.core.ILaunch">
                        </instanceof>
                        <test
                              args="notTerminated, notKeYMainWindow"
                              forcePluginActivation="true"
                              property="org.key_project.sed.key.ui.isSingleKeyDebugTarget">
                        </test>
                     </and>
                     <and>
                        <instanceof
                              value="org.eclipse.debug.core.model.IDebugElement">
                        </instanceof>
                        <test
                              args="notTerminated, notKeYMainWindow"
                              forcePluginActivation="true"
                              property="org.key_project.sed.key.ui.isSingleKeyDebugTarget">
                        </test>
                     </and>
                  </or>
               </iterate>
            </enabledWhen>
         </handler>
      </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.key_project.sed.key.core.launch.sed.key.shortcut.debug"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+D">
      </key>
      <key
            commandId="org.key_project.sed.key.ui.saveProofCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+K">
      </key>
      <key
            commandId="org.key_project.sed.key.ui.visualizeConfigurationsCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C">
      </key>
      <key
            commandId="org.key_project.sed.key.ui.openProofCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M3+P">
      </key>
   </extension>
      <extension
            point="org.eclipse.debug.ui.debugModelPresentations">
         <debugModelPresentation
               class="org.key_project.sed.key.ui.presentation.KeYDebugModelPresentation"
               id="org.key_project.sed.key.core">
         </debugModelPresentation>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="org.key_project.sed.ui.preference.page.symbolic_debug"
               class="org.key_project.sed.key.ui.preference.page.KeYSymbolicDebugPreferencePage"
               id="org.key_project.sed.key.ui.preference.page.key_symbolic_debug"
               name="KeY">
         </page>
         <page
               category="org.key_project.sed.ui.preference.page.symbolic_debug"
               class="org.key_project.sed.key.ui.preference.page.KeYLaunchSymbolicDebugPreferencePage"
               id="org.key_project.sed.key.ui.preference.page.key_launch_defaults"
               name="KeY Launch Defaults">
         </page>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs
               contributorId="org.key_project.sed.launchViewPropertyContributor">
            <propertyTab
                  afterTab="org.key_project.sed.ui.node.tab"
                  category="Debug"
                  id="org.key_project.sed.ui.key.tab"
                  label="KeY">
            </propertyTab>
            <propertyTab
                  category="Debug"
                  id="org.key_project.sed.ui.main.tab"
                  image="icons/logo16.gif"
                  label="Main">
            </propertyTab>
            <propertyTab
                  afterTab="org.key_project.sed.ui.main.tab"
                  category="Debug"
                  id="org.key_project.sed.ui.customization.tab"
                  image="icons/keyCustomization.gif"
                  label="Customization">
            </propertyTab>
         </propertyTabs>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="org.key_project.sed.launchViewPropertyContributor">
            <propertySection
                  class="org.key_project.sed.key.ui.property.KeYDebugNodePropertySection"
                  filter="org.key_project.sed.key.ui.property.KeYDebugNodeTreeFilter"
                  id="org.key_project.sed.key.ui.property.KeYDebugNodePropertySection"
                  tab="org.key_project.sed.ui.key.tab">
            </propertySection>
            <propertySection
                  class="org.key_project.sed.key.ui.property.MainKeYDebugTargetPropertySection"
                  filter="org.key_project.sed.key.ui.property.KeYDebugTargetTreeFilter"
                  id="org.key_project.sed.key.ui.property.KeYDebugTargetPropertySection"
                  tab="org.key_project.sed.ui.main.tab">
            </propertySection>
            <propertySection
                  class="org.key_project.sed.key.ui.property.CustomizationKeYDebugTargetPropertySection"
                  filter="org.key_project.sed.key.ui.property.KeYDebugTargetTreeFilter"
                  id="org.key_project.sed.key.ui.property.CustomizationKeYDebugTargetPropertySection"
                  tab="org.key_project.sed.ui.customization.tab">
            </propertySection>
         </propertySections>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs
               contributorId="symbolicExecutionTreeDiagram.PropertyContributor">
            <propertyTab
                  afterTab="org.key_project.sed.ui.visualization.node.tab"
                  category="Graphiti"
                  id="org.key_project.sed.ui.visualization.key.tab"
                  label="KeY">
            </propertyTab>
         </propertyTabs>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="symbolicExecutionTreeDiagram.PropertyContributor">
            <propertySection
                  class="org.key_project.sed.key.ui.property.KeYGraphitiDebugNodePropertySection"
                  filter="org.key_project.sed.key.ui.property.KeYGraphitiDebugNodeTreeFilter"
                  id="org.key_project.sed.key.ui.property.KeYGraphitiDebugNodePropertySection"
                  tab="org.key_project.sed.ui.visualization.key.tab">
            </propertySection>
         </propertySections>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="true"
               locationURI="popup:org.eclipse.debug.ui.DebugView?after=additions">
            <command
                  commandId="org.key_project.sed.key.ui.visualizeConfigurationsCommand"
                  icon="icons/configurations_object_diagram.gif"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <and>
                           <instanceof
                                 value="org.key_project.sed.key.core.model.IKeYSEDDebugNode">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="org.key_project.sed.key.ui.canVisualizeConfigurations">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.key_project.sed.key.ui.saveProofCommand"
                  icon="icons/saveKeYProof.gif"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <and>
                           <instanceof
                                 value="org.eclipse.debug.core.ILaunch">
                           </instanceof>
                           <test
                                 args="notTerminated"
                                 forcePluginActivation="true"
                                 property="org.key_project.sed.key.ui.isSingleKeyDebugTarget">
                           </test>
                        </and>
                        <and>
                           <instanceof
                                 value="org.eclipse.debug.core.model.IDebugElement">
                           </instanceof>
                           <test
                                 args="notTerminated"
                                 forcePluginActivation="true"
                                 property="org.key_project.sed.key.ui.isSingleKeyDebugTarget">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.key_project.sed.key.ui.openProofCommand"
                  icon="icons/logo16.gif"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <and>
                           <instanceof
                                 value="org.eclipse.debug.core.ILaunch">
                           </instanceof>
                           <test
                                 args="notTerminated"
                                 forcePluginActivation="true"
                                 property="org.key_project.sed.key.ui.isSingleKeyDebugTarget">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.key_project.key4eclipse.common.ui.proofStarterAvailable">
                           </test>
                        </and>
                        <and>
                           <instanceof
                                 value="org.eclipse.debug.core.model.IDebugElement">
                           </instanceof>
                           <test
                                 args="notTerminated"
                                 forcePluginActivation="true"
                                 property="org.key_project.sed.key.ui.isSingleKeyDebugTarget">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.key_project.key4eclipse.common.ui.proofStarterAvailable">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="org.key_project.sed.key.ui.propertyTester.KeYDebugTargetPropertyTester"
               id="org.key_project.sed.key.ui.launchPropertyTester"
               namespace="org.key_project.sed.key.ui"
               properties="isSingleKeyDebugTarget"
               type="org.eclipse.debug.core.ILaunch">
         </propertyTester>
         <propertyTester
               class="org.key_project.sed.key.ui.propertyTester.KeYDebugTargetPropertyTester"
               id="org.key_project.sed.key.ui.debugElementPropertyTester"
               namespace="org.key_project.sed.key.ui"
               properties="isSingleKeyDebugTarget"
               type="org.eclipse.debug.core.model.IDebugElement">
         </propertyTester>
         <propertyTester
               class="org.key_project.sed.key.ui.propertyTester.CanVisualizeConfigurationsPropertyTester"
               id="org.key_project.sed.key.ui.canVisualizeConfigurationsPropertyTester"
               namespace="org.key_project.sed.key.ui"
               properties="canVisualizeConfigurations"
               type="java.lang.Object">
         </propertyTester>
      </extension>
      <extension
            point="org.key_project.sed.ui.visualization.executionTree.contextMenuEntries">
         <entry
               factory="org.key_project.sed.key.ui.visualization.execution_tree.feature.DebugNodeVisualizeConfigurationsFeatureFactory"
               icon="icons/configurations_object_diagram.gif"
               iconId="org.key_project.sed.key.ui.visualization.VisualizeConfigurationsFeature"
               inButtonPad="true"
               inMenu="true"
               modes="READ_ONLY"
               text="Visualize Configurations">
         </entry>
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="org.key_project.sed.key.ui.visualization.object_diagram.editor.ConfigurationObjectDiagramEditor"
               contributorClass="org.key_project.sed.ui.visualization.object_diagram.editor.ReadonlyObjectDiagramActionBarContributor"
               default="false"
               icon="icons/configurations_object_diagram.gif"
               id="org.key_project.sed.key.ui.ConfigurationObjectDiagramEditor"
               name="Configurations Object Diagram Editor">
            <contentTypeBinding
                  contentTypeId="org.eclipse.graphiti.content.diagram">
            </contentTypeBinding>
         </editor>
      </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               category="org.key_project.sed.ui.category"
               class="org.key_project.sed.key.ui.view.SymbolicExecutionSettingsView"
               icon="icons/logo16.gif"
               id="org.key_project.sed.key.ui.view.SymbolicExecutionProofSearchStragyView"
               name="Symbolic Execution Settings"
               restorable="true">
         </view>
      </extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
               targetID="org.key_project.sed.ui.perspective">
            <view
                  id="org.key_project.sed.key.ui.view.SymbolicExecutionProofSearchStragyView"
                  minimized="false"
                  ratio="0.1"
                  relationship="left"
                  relative="org.eclipse.ui.views.PropertySheet"
                  visible="true">
            </view>
            <viewShortcut
                  id="org.key_project.sed.key.ui.view.SymbolicExecutionProofSearchStragyView">
            </viewShortcut>
         </perspectiveExtension>
      </extension>
</plugin>
