<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.key_project.sed.key.core.launch.sed.key"
            icon="icons/logo16.gif"
            id="org.key_project.sed.key.core.launch.sed.key.typeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.key_project.sed.key.ui.launch.KeYLaunchConfigurationTabGroup"
            id="org.key_project.sed.key.core.launch.sed.key.tabGroup"
            type="org.key_project.sed.key.core.launch.sed.key">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.key_project.sed.key.ui.launch.KeYLaunchShortcut"
            icon="icons/logo16.gif"
            id="org.key_project.sed.key.core.launch.sed.key.shortcut"
            label="Symbolic Execution Debugger (SED)"
            modes="debug">
         <configurationType
               id="org.key_project.sed.key.core.launch.sed.key">
         </configurationType>
         <description
               description="Symbolic Execution Debugger based on KeY"
               mode="debug">
         </description>
       <contextualLaunch>
          <enablement>
             <or>
                <with
                      variable="selection">
                   <and>
                      <count
                            value="1">
                      </count>
                      <iterate
                            ifEmpty="false"
                            operator="and">
                         <instanceof
                               value="org.eclipse.jdt.core.IMethod">
                         </instanceof>
                         <adapt
                               type="org.eclipse.core.resources.IResource">
                            <test
                                  forcePluginActivation="true"
                                  property="org.eclipse.core.resources.projectNature"
                                  value="org.eclipse.jdt.core.javanature">
                            </test>
                         </adapt>
                      </iterate>
                   </and>
                </with>
                <and>
                   <with
                         variable="activePartId">
                      <equals
                            value="org.eclipse.jdt.ui.CompilationUnitEditor">
                      </equals>
                   </with>
                   <with
                         variable="activeEditorInput">
                      <adapt
                            type="org.eclipse.core.resources.IResource">
                         <test
                               property="org.eclipse.core.resources.projectNature"
                               value="org.eclipse.jdt.core.javanature">
                         </test>
                      </adapt>
                   </with>
                   <with
                         variable="activePart">
                      <test
                            forcePluginActivation="true"
                            property="org.key_project.key4eclipse.starter.core.compilationUnitEditor.selectedElementInstanceOf"
                            value="org.eclipse.jdt.core.IMethod">
                      </test>
                   </with>
                </and>
             </or>
          </enablement></contextualLaunch>
      </shortcut>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            name="Symbolic Execution Debugger (SED)"
            description="Symbolic Execution Debugger based on KeY"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.key_project.sed.key.core.launch.sed.key.shortcut.debug">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.key_project.sed.key.core.launch.sed.key.shortcut.debug"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+D">
      </key>
   </extension>
      <extension
            point="org.eclipse.debug.ui.debugModelPresentations">
         <debugModelPresentation
               class="org.key_project.sed.key.ui.presentation.KeYDebugModelPresentation"
               id="org.key_project.sed.key.core">
         </debugModelPresentation>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="org.key_project.sed.ui.preference.page.symbolic_debug"
               class="org.key_project.sed.key.ui.preference.page.KeYSymbolicDebugPreferencePage"
               id="org.key_project.sed.key.ui.preference.page.key_symbolic_debug"
               name="KeY">
         </page>
         <page
               category="org.key_project.sed.ui.preference.page.symbolic_debug"
               class="org.key_project.sed.key.ui.preference.page.KeYLaunchSymbolicDebugPreferencePage"
               id="org.key_project.sed.key.ui.preference.page.key_launch_defaults"
               name="KeY Launch Defaults">
         </page>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs
               contributorId="org.key_project.sed.launchViewPropertyContributor">
            <propertyTab
                  afterTab="org.key_project.sed.ui.node.tab"
                  category="Debug"
                  id="org.key_project.sed.ui.key.tab"
                  label="KeY">
            </propertyTab>
            <propertyTab
                  category="Debug"
                  id="org.key_project.sed.ui.main.tab"
                  image="icons/logo16.gif"
                  label="Main">
            </propertyTab>
            <propertyTab
                  afterTab="org.key_project.sed.ui.main.tab"
                  category="Debug"
                  id="org.key_project.sed.ui.customization.tab"
                  image="icons/keyCustomization.gif"
                  label="Customization">
            </propertyTab>
         </propertyTabs>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="org.key_project.sed.launchViewPropertyContributor">
            <propertySection
                  class="org.key_project.sed.key.ui.property.KeYDebugNodePropertySection"
                  filter="org.key_project.sed.key.ui.property.KeYDebugNodeTreeFilter"
                  id="org.key_project.sed.key.ui.property.KeYDebugNodePropertySection"
                  tab="org.key_project.sed.ui.key.tab">
            </propertySection>
            <propertySection
                  class="org.key_project.sed.key.ui.property.MainKeYDebugTargetPropertySection"
                  filter="org.key_project.sed.key.ui.property.KeYDebugTargetTreeFilter"
                  id="org.key_project.sed.key.ui.property.KeYDebugTargetPropertySection"
                  tab="org.key_project.sed.ui.main.tab">
            </propertySection>
            <propertySection
                  class="org.key_project.sed.key.ui.property.CustomizationKeYDebugTargetPropertySection"
                  filter="org.key_project.sed.key.ui.property.KeYDebugTargetTreeFilter"
                  id="org.key_project.sed.key.ui.property.CustomizationKeYDebugTargetPropertySection"
                  tab="org.key_project.sed.ui.customization.tab">
            </propertySection>
         </propertySections>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs
               contributorId="symbolicExecutionTreeDiagram.PropertyContributor">
            <propertyTab
                  afterTab="org.key_project.sed.ui.visualization.node.tab"
                  category="Graphiti"
                  id="org.key_project.sed.ui.visualization.key.tab"
                  label="KeY">
            </propertyTab>
         </propertyTabs>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="symbolicExecutionTreeDiagram.PropertyContributor">
            <propertySection
                  class="org.key_project.sed.key.ui.property.KeYGraphitiDebugNodePropertySection"
                  filter="org.key_project.sed.key.ui.property.KeYGraphitiDebugNodeTreeFilter"
                  id="org.key_project.sed.key.ui.property.KeYGraphitiDebugNodePropertySection"
                  tab="org.key_project.sed.ui.visualization.key.tab">
            </propertySection>
         </propertySections>
      </extension>
</plugin>
