<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.key_project.sed.core.model.ISEDDebugNode"
            class="org.key_project.sed.core.adapter.SEDDebugNodeAdapterFactory">
         <adapter
               type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider">
         </adapter>
      </factory>
   </extension>
</plugin>
