<configuration>
    <!-- disables logback configuration messages on start up, see #1725 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <file>key.log</file>
        <append>false</append>
        <encoder>
            <pattern>%-10relative %-5level %-15thread %-25logger{5} %msg %ex%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>