<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.key_project.key4eclipse.resources.ui.KeYProjectWizard"
         name="KeYProjectWizard"
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.key_project.key4eclipse.resources.ui.KeYCategory"
            class="org.key_project.key4eclipse.resources.ui.wizard.KeYProjectWizard"
            icon="icons/logo16.gif"
            id="org.key_project.key4eclipse.resources.ui.keyprojectwizard"
            name="KeY Project"
            project="true">
         <description>
            Create a KeY project
         </description>
      </wizard>
      <category
            id="org.key_project.key4eclipse.resources.ui.KeYCategory"
            name="KeY">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.key_project.key4eclipse.resources.ui.convertToKeYProject"
               label="Convert to KeY Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.jdt.core.javanature">
                     </test>
                  </adapt>
                  <not>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.projectNature"
                              value="org.key_project.key4eclipse.resources.KeYProjectNature">
                        </test>
                     </adapt>
                  </not>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.key_project.key4eclipse.resources.ui.category"
            name="KeY">
      </category>
      <command
            categoryId="org.key_project.key4eclipse.resources.ui.category"
            description="Add functionality of a KeY project to the current project."
            id="org.key_project.key4eclipse.resources.ui.convertToKeYProject"
            name="Convert to KeY Project.">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.key_project.key4eclipse.resources.ui.convertToKeYProject"
            icon="icons/logo16.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.key_project.key4eclipse.resources.ui.handlers.ConvertJavaToKeYProjectHandler"
            commandId="org.key_project.key4eclipse.resources.ui.convertToKeYProject">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </adapt>
               <not>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.projectNature"
                           value="org.key_project.key4eclipse.resources.KeYProjectNature">
                     </test>
                  </adapt>
               </not>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.key_project.key4eclipse.common.ui.keyProjectProperties"
            class="org.key_project.key4eclipse.resources.ui.propertypages.ProofManagementPropertyPage"
            id="org.key_project.key4eclipse.resources.ui.proofManagementPropertyPage"
            name="KeY Proof Management">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="org.key_project.key4eclipse.resources.KeYProjectNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="meta"
            icon="icons/proofmetafile16.png"
            id="org.key_project.key4eclipse.common.ui.keyTextEditor"
            name="Proof Meta Text Editor">
      </editor>
   </extension>
</plugin>
