<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.key_project.key4eclipse.common.ui.globalStarter">
      <starter
            class="org.key_project.key4eclipse.starter.ui.starter.KeYGlobalStarter"
            description="Original user interface of KeY."
            id="org.key_project.key4eclipse.starter.ui.starter.KeYGlobalStarter"
            name="KeY">
      </starter>
   </extension>
   <extension
         point="org.key_project.key4eclipse.common.ui.methodStarter">
      <starter
            class="org.key_project.key4eclipse.starter.ui.starter.KeYMethodStarter"
            description="Original user interface of KeY."
            id="org.key_project.key4eclipse.starter.ui.starter.KeYMethodStarter"
            name="KeY">
      </starter>
   </extension>
   <extension
         point="org.key_project.key4eclipse.common.ui.fileStarter">
      <starter
            class="org.key_project.key4eclipse.starter.ui.starter.KeYFileStarter"
            description="Original user interface of KeY."
            id="org.key_project.key4eclipse.starter.ui.starter.KeYFileStarter"
            name="KeY">
      </starter>
   </extension>
   <extension
         point="org.key_project.key4eclipse.common.ui.projectStarter">
      <starter
            class="org.key_project.key4eclipse.starter.ui.starter.KeYProjectStarter"
            description="Original user interface of KeY."
            id="org.key_project.key4eclipse.starter.ui.starter.KeYProjectStarter"
            name="KeY">
      </starter>
   </extension>
</plugin>
