<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jdt.core.IMethod"
            class="org.key_project.key4eclipse.starter.ui.adapter.JavaElementResourceAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.key_project.key4eclipse.starter.ui.property.JavaTextSelectionPropertyTester"
            id="org.key_project.key4eclipse.starter.ui.JavaTextSelectionPropertyTester"
            namespace="org.key_project.key4eclipse.starter.ui.javaTextSelection"
            properties="selectedElementInstanceOf"
            type="org.eclipse.jface.text.ITextSelection">
      </propertyTester>
   </extension>   
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Contains all commands which are provided by the KeY Eclipse integration."
            id="org.key_project.sed.external.key.starter.ui.commands.category"
            name="KeY">
      </category>
      <command
            categoryId="org.key_project.sed.external.key.starter.ui.commands.category"
            description="Opens KeY main window."
            id="org.key_project.sed.external.key.starter.ui.commands.startKeYCommand"
            name="Start KeY">
      </command>
      <command
            categoryId="org.key_project.sed.external.key.starter.ui.commands.category"
            description="Loads the selected resource in KeY."
            id="org.key_project.sed.external.key.starter.ui.commands.loadResourceCommand"
            name="Load in KeY">
      </command>
      <command
            categoryId="org.key_project.sed.external.key.starter.ui.commands.category"
            description="Starts a new proof in KeY."
            id="org.key_project.sed.external.key.starter.ui.commands.startProofCommand"
            name="Start Proof in KeY">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.key_project.sed.external.key.starter.ui.commands.startKeYCommand"
            icon="icons/logo16.gif">
      </image>
      <image
            commandId="org.key_project.sed.external.key.starter.ui.commands.loadResourceCommand"
            icon="icons/logo16.gif">
      </image>
      <image
            commandId="org.key_project.sed.external.key.starter.ui.commands.startProofCommand"
            icon="icons/logo16.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.key_project.sed.external.key.starter.ui.commands.startKeYCommand"
            class="org.key_project.key4eclipse.starter.ui.handler.StartKeYHandler">
      </handler>
      <handler
            class="org.key_project.key4eclipse.starter.ui.handler.LoadResourceHandler"
            commandId="org.key_project.sed.external.key.starter.ui.commands.loadResourceCommand">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <or>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.jdt.core.javanature">
                     </test>
                  </and>
                  <instanceof
                        value="org.eclipse.jdt.core.IJavaProject">
                  </instanceof>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.core.resources.extension"
                           value="key">
                     </test>
                  </and>
                  <with
                        variable="activeEditorInput">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="key">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="proof">
                           </test>
                        </or>
                     </adapt>
                  </with>
               </or>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.key_project.key4eclipse.starter.ui.handler.StartProofHandler"
            commandId="org.key_project.sed.external.key.starter.ui.commands.startProofCommand">
         <enabledWhen>
            <or>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.jdt.core.IMethod">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.jdt.core.javanature">
                     </test>
                  </adapt>
               </iterate>
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="org.eclipse.jdt.ui.CompilationUnitEditor">
                     </equals>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                     </adapt>
                  </with>
                  <with
                        variable="selection">
                     <and>
                        <instanceof
                              value="org.eclipse.jface.text.ITextSelection">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.key_project.key4eclipse.starter.ui.javaTextSelection.selectedElementInstanceOf"
                              value="org.eclipse.jdt.core.IMethod">
                        </test>
                     </and>
                  </with>
               </and>
            </or></enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.key_project.sed.external.key.starter.ui.commands.startKeYCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+K"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="org.key_project.sed.external.key.starter.ui.commands.loadResourceCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+L">
      </key>
      <key
            commandId="org.key_project.sed.external.key.starter.ui.commands.startProofCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.key_project.sed.external.key.starter.ui.menus.keyMenu"
               label="KeY"
               mnemonic="K">
            <command
                  commandId="org.key_project.sed.external.key.starter.ui.commands.startKeYCommand"
                  icon="icons/logo16.gif"
                  id="org.key_project.sed.external.key.starter.ui.menus.startKeYCommand"
                  label="Start KeY"
                  mnemonic="K"
                  style="push"
                  tooltip="Opens KeY main window.">
            </command>
            <command
                  commandId="org.key_project.sed.external.key.starter.ui.commands.loadResourceCommand"
                  icon="icons/logo16.gif"
                  id="org.key_project.sed.external.key.starter.ui.commands.loadResourceCommand"
                  label="Load in KeY"
                  mnemonic="L"
                  style="push">
            </command>
            <command
                  commandId="org.key_project.sed.external.key.starter.ui.commands.startProofCommand"
                  icon="icons/logo16.gif"
                  id="org.key_project.sed.external.key.starter.ui.commands.startProofCommand"
                  label="Start Proof in KeY"
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.key_project.sed.external.key.starter.ui.toolbars.keyToolbar">
            <command
                  commandId="org.key_project.sed.external.key.starter.ui.commands.startKeYCommand"
                  icon="icons/logo16.gif"
                  id="org.key_project.sed.external.key.starter.ui.toolbars.sampleCommand"
                  label="Start KeY"
                  style="push"
                  tooltip="Opens KeY main window.">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.key_project.sed.external.key.starter.ui.commands.loadResourceCommand"
               icon="icons/logo16.gif"
               id="org.key_project.sed.external.key.starter.ui.commands.loadResourceCommand"
               label="Load Project in KeY"
               mnemonic="L"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                     </and>
                     <instanceof
                           value="org.eclipse.jdt.core.IJavaProject">
                     </instanceof>
                  </or>
               </iterate>                  
            </visibleWhen>
         </command>
         <command
               commandId="org.key_project.sed.external.key.starter.ui.commands.startProofCommand"
               icon="icons/logo16.gif"
               id="org.key_project.sed.external.key.starter.ui.commands.startProofCommand"
               label="Start Proof in KeY"
               mnemonic="P"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.jdt.core.IMethod">
                     </instanceof>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                     </adapt>
                  </iterate>
                  <and>
                     <with
                           variable="activePartId">
                        <equals
                              value="org.eclipse.jdt.ui.CompilationUnitEditor">
                        </equals>
                     </with>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.jdt.core.javanature">
                           </test>
                        </adapt>
                     </with>
                     <with
                           variable="selection">
                        <and>
                           <instanceof
                                 value="org.eclipse.jface.text.ITextSelection">
                           </instanceof>
                           <test
                                 forcePluginActivation="true"
                                 property="org.key_project.key4eclipse.starter.ui.javaTextSelection.selectedElementInstanceOf"
                                 value="org.eclipse.jdt.core.IMethod">
                           </test>
                        </and>
                     </with>
                  </and>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.key_project.sed.external.key.starter.ui.commands.loadResourceCommand"
               icon="icons/logo16.gif"
               id="org.key_project.sed.external.key.starter.ui.commands.loadResourceCommand.file"
               label="Load File in KeY"
               mnemonic="L"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="and">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <or>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="key">
                        </test>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="proof">
                        </test>
                     </or>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.key_project.key4eclipse.starter.ui.property.KeYProjectPropertyPage"
            id="org.key_project.key4eclipse.starter.ui.keyProjectProperties"
            name="KeY">
         <enabledWhen>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </and>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaProject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="key"
            icon="icons/logo16.gif"
            id="org.key_project.key4eclipse.starter.ui.editor.keyEditor"
            name="KeY Editor">
      </editor>
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="proof"
            icon="icons/logo16.gif"
            id="org.key_project.key4eclipse.starter.ui.editor.proofEditor"
            name="Proof Editor">
      </editor>
   </extension>
</plugin>
