<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.key_project.automaticverifier.product.ui.automaticVerifier" 
            name="Automatic Verifier">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Automatic Verifier">
         </property>
         <property
               name="welcomePerspective"
               value="org.key_project.automaticverifier.perspective">
         </property>
         <property
               name="introTitle"
               value="Automatic Verifier">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/IntroLogo.gif">
         </property>
         <property
               name="introBrandingImageText"
               value="KeY Project">
         </property>
         <property
               name="windowImages"
               value="icons/logo16.gif,icons/logo32.gif,icons/logo48.gif,icons/logo64.gif,icons/logo128.gif">
         </property>
         <property
               name="aboutText"
               value="Automatic Verifier&#x0A;&#x0A;Version: 1.0.0&#x0A;&#x0A;Developed as part of the KeY project.">
         </property>
         <property
               name="aboutImage"
               value="icons/About.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="3F3F3F">
         </property>
         <property
               name="startupMessageRect"
               value="30,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="30,275,445,15">
         </property>
      </product>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.key_project.automaticverifier.product.ui.product">
      </introProductBinding>
   </extension>
   -->
   <extension
         id="automaticVerifier"
         name="Automatic Verifier"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            icon="icons/logo16.gif"
            thread="main"
            visible="true">
         <run
               class="org.key_project.automaticverifier.product.ui.application.AutomaticVerifierApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.key_project.automaticverifier.product.ui.perspective.AutomaticVerifierPerspective"
            fixed="true"
            icon="icons/logo16.gif"
            id="org.key_project.automaticverifier.perspective"
            name="Automatic Verifier">
         <description>
            Default perspective of the Automatic Verifier based on KeY.
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.key_project.automaticverifier.view.category"
            name="Automatic Verifier">
      </category>
      <view
            category="org.key_project.automaticverifier.view.category"
            class="org.key_project.automaticverifier.product.ui.view.AutomaticVerifierView"
            icon="icons/logo16.gif"
            id="org.key_project.automaticverifier.product.ui.view.AutomaticVerifierView"
            name="Automatic Verifier"
            restorable="true">
      </view>
   </extension>
</plugin>
