<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.key_project.sed.ui.visualization.executionTree.contextMenuEntries" name="Execution Tree Context Menu Entries" schema="schema/org.key_project.sed.ui.visualization.executionTree.contextMenuEntries.exsd"/>
  <extension
      point="org.eclipse.graphiti.ui.diagramTypes">
    <diagramType
      description="This is the diagram type for Symbolic Execution Trees"
      id="org.key_project.sed.ui.graphiti.ExecutionTreeDiagramType"
      name="Symbolic Execution Tree"
      type="symbolicExecutionTreeDiagram">
    </diagramType>
    <diagramType
          description="This is the diagram type for Object Diagrams"
          id="org.key_project.sed.ui.graphiti.ObjectDiagramType"
          name="Object Diagram"
          type="objectDiagram">
    </diagramType>
  </extension>
 
  <extension
      point="org.eclipse.graphiti.ui.diagramTypeProviders">
    <diagramTypeProvider
      class="org.key_project.sed.ui.visualization.execution_tree.provider.ExecutionTreeDiagramTypeProvider"
      description="This is the Symbolic Execution Tree editor"
      id="org.key_project.sed.ui.graphiti.ExecutionTreeDiagramTypeProvider"
      name="Symbolic Execution Tree Editor">
      <diagramType
        id="org.key_project.sed.ui.graphiti.ExecutionTreeDiagramType">
      </diagramType>
      <imageProvider
            id="org.key_project.sed.ui.visualization.execution_tree.provider.ExecutionTreeImageProvider">
      </imageProvider>
    </diagramTypeProvider>
    <diagramTypeProvider
          class="org.key_project.sed.ui.visualization.object_diagram.provider.ObjectDiagramTypeProvider"
          description="This is the Object Diagram editor"
          id="org.key_project.sed.ui.graphiti.ObjectDiagramTypeProvider"
          name="Object Diagram Editor">
       <diagramType
             id="org.key_project.sed.ui.graphiti.ObjectDiagramType">
       </diagramType>
       <imageProvider
             id="org.key_project.sed.ui.visualization.object_diagram.provider.ObjectDiagramImageProvider">
       </imageProvider>
    </diagramTypeProvider>
  </extension>
  
    <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.key_project.sed.ui.visualization.execution_tree.provider.ExecutionTreeImageProvider"
            id="org.key_project.sed.ui.visualization.execution_tree.provider.ExecutionTreeImageProvider">
      </imageProvider>
      <imageProvider
            class="org.key_project.sed.ui.visualization.object_diagram.provider.ObjectDiagramImageProvider"
            id="org.key_project.sed.ui.visualization.object_diagram.provider.ObjectDiagramImageProvider">
      </imageProvider>
   </extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <category
             id="org.key_project.sed.ui.visualization.category"
             name="Symbolic Execution Debugger (SED)">
       </category>
       <wizard
             category="org.key_project.sed.ui.visualization.category"
             class="org.key_project.sed.ui.visualization.execution_tree.wizard.NewExecutionTreeDiagramWizard"
             icon="icons/symbolic_debug.gif"
             id="org.key_project.sed.ui.visualization.execution_tree.wizard.NewExecutionTreeDiagramWizard"
             name="Symbolic Execution Tree Diagram"
             project="false">
          <description>
             Create a new Symbolic Execution Tree Diagram
          </description>
       </wizard>
       <wizard
             category="org.key_project.sed.ui.visualization.category"
             class="org.key_project.sed.ui.visualization.object_diagram.wizard.NewObjectDiagramWizard"
             icon="icons/object_diagram.gif"
             id="org.key_project.sed.ui.visualization.object_diagram.wizard.NewObjectDiagramWizard"
             name="Object Diagram"
             project="false">
          <description>
             Create a new Object Diagram
          </description>
       </wizard>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.key_project.sed.ui.visualization.execution_tree.editor.ExecutionTreeDiagramEditor"
             contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
             default="true"
             extensions="set_diagram"
             icon="icons/symbolic_debug.gif"
             id="org.key_project.sed.ui.visualization.symbolicExecutionTreeDiagramEditor"
             name="Symbolic Execution Tree Diagram Editor">
       </editor>
       <editor
             class="org.eclipse.ui.editors.text.TextEditor"
             contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
             default="true"
             extensions="set"
             icon="icons/symbolic_debug.gif"
             id="org.key_project.sed.ui.visualization.symbolicExecutionTreeEditor"
             name="Symbolic Execution Tree Editor">
       </editor>
       <editor
             class="org.key_project.sed.ui.visualization.object_diagram.editor.ObjectDiagramEditor"
             contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
             default="true"
             extensions="od"
             icon="icons/object_diagram.gif"
             id="org.key_project.sed.ui.visualization.ObjectDiagramEditor"
             name="Object Diagram Editor">
       </editor>
       <editor
             class="org.key_project.sed.ui.visualization.object_diagram.editor.ReadonlyObjectDiagramEditor"
             contributorClass="org.key_project.sed.ui.visualization.object_diagram.editor.ReadonlyObjectDiagramActionBarContributor"
             default="false"
             icon="icons/object_diagram.gif"
             id="org.key_project.sed.ui.visualization.ReadonlyObjectDiagramEditor"
             name="Read-only Object Diagram Editor">
       </editor>
    </extension>
    <extension
          point="org.eclipse.core.contenttype.contentTypes">
       <file-association
             content-type="org.eclipse.graphiti.content.diagram"
             file-extensions="set_diagram">
       </file-association>
       <file-association
             content-type="org.eclipse.graphiti.content.diagram"
             file-extensions="od">
       </file-association>
       <file-association
             content-type="org.eclipse.core.runtime.xml"
             file-extensions="set">
       </file-association>
    </extension>
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
          <propertyContributor contributorId="symbolicExecutionTreeDiagram.PropertyContributor">
              <propertyCategory category="Graphiti">
              </propertyCategory>
          </propertyContributor>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
          <propertyTabs contributorId="symbolicExecutionTreeDiagram.PropertyContributor">
              <propertyTab label="Node" category="Graphiti"
                  id="org.key_project.sed.ui.visualization.node.tab">
              </propertyTab>
              <propertyTab
                    afterTab="org.key_project.sed.ui.visualization.node.tab"
                    category="Graphiti"
                    id="org.key_project.sed.ui.visualization.callStack.tab"
                    label="Call Stack">
              </propertyTab>
              <propertyTab
                    afterTab="org.key_project.sed.ui.visualization.callStack.tab"
                    category="Graphiti"
                    id="org.key_project.sed.ui.visualization.source.tab"
                    label="Source">
              </propertyTab>
              <propertyTab
                    afterTab="org.key_project.sed.ui.visualization.source.tab"
                    category="Graphiti"
                    id="org.key_project.sed.ui.visualization.annotationLinks.tab"
                    label="Annotation Links">
              </propertyTab>
          </propertyTabs>
      </extension>
       
      <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
          <propertySections contributorId="symbolicExecutionTreeDiagram.PropertyContributor">
              <propertySection tab="org.key_project.sed.ui.visualization.node.tab"           
               class="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiDebugNodePropertySection"
               filter="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiDebugNodeTreeFilter"
               id="org.key_project.sed.ui.visualization.node.tab.SEDDebugNodePropertySection">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiCallStackPropertySection"
                    filter="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiReadonlyDebugNodeTreeFilter"
                    id="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiCallStackPropertySection"
                    tab="org.key_project.sed.ui.visualization.callStack.tab">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiSourcePropertySection"
                    filter="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiSourceTreeFilter"
                    id="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiSourcePropertySection"
                    tab="org.key_project.sed.ui.visualization.source.tab">
              </propertySection>
              <propertySection
                    class="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiAnnotationLinkPropertySection"
                    filter="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiReadonlyDebugNodeTreeFilter"
                    id="org.key_project.sed.ui.visualization.execution_tree.property.GraphitiAnnotationLinkPropertySection"
                    tab="org.key_project.sed.ui.visualization.annotationLinks.tab">
              </propertySection>
          </propertySections>
      </extension>    

  <extension
        point="org.eclipse.ui.views">
     <view
           category="org.key_project.sed.ui.category"
           class="org.key_project.sed.ui.visualization.view.ExecutionTreeView"
           icon="icons/symbolic_debug.gif"
           id="org.key_project.sed.ui.graphiti.view.ExecutionTreeView"
           name="Symbolic Execution Tree"
           restorable="true">
     </view>
     <view
           category="org.key_project.sed.ui.category"
           class="org.key_project.sed.ui.visualization.view.ExecutionTreeThumbNailView"
           icon="icons/symbolic_debug.gif"
           id="org.key_project.sed.ui.graphiti.view.ExecutionTreeThumbNailView"
           name="Symbolic Execution Tree (Thumbnail)"
           restorable="true">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.key_project.sed.ui.perspective">
        <view
              id="org.key_project.sed.ui.graphiti.view.ExecutionTreeView"
              minimized="false"
              relationship="right"
              relative="org.eclipse.debug.ui.DebugView"
              visible="true">
        </view>
        <viewShortcut
              id="org.key_project.sed.ui.graphiti.view.ExecutionTreeView">
        </viewShortcut>
        <view
              id="org.key_project.sed.ui.graphiti.view.ExecutionTreeThumbNailView"
              minimized="false"
              ratio="0.8"
              relationship="right"
              relative="org.eclipse.ui.views.PropertySheet"
              visible="true">
        </view>
        <viewShortcut
              id="org.key_project.sed.ui.graphiti.view.ExecutionTreeThumbNailView">
        </viewShortcut>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
     <propertyContributor
           contributorId="objectDiagram.PropertyContributor">
        <propertyCategory
              category="Graphiti"></propertyCategory>
     </propertyContributor>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="objectDiagram.PropertyContributor">
        <propertyTab
              category="Graphiti"
              id="org.key_project.sed.ui.visualization.values.tab"
              label="Values">
        </propertyTab>
        <propertyTab
              category="Graphiti"
              id="org.key_project.sed.ui.visualization.object.tab"
              label="Object">
        </propertyTab>
        <propertyTab
              category="Graphiti"
              id="org.key_project.sed.ui.visualization.state.tab"
              label="State">
        </propertyTab>
        <propertyTab
              category="Graphiti"
              id="org.key_project.sed.ui.visualization.value.tab"
              label="Value">
        </propertyTab>
        <propertyTab
              category="Graphiti"
              id="org.key_project.sed.ui.visualization.association.tab"
              label="Association">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="objectDiagram.PropertyContributor">
        <propertySection
              class="org.key_project.sed.ui.visualization.object_diagram.property.ValuesPropertySection"
              filter="org.key_project.sed.ui.visualization.object_diagram.property.ValuesTreeFilter"
              id="org.key_project.sed.ui.visualization.object_diagram.property.ValuesPropertySection"
              tab="org.key_project.sed.ui.visualization.values.tab">
        </propertySection>
        <propertySection
              class="org.key_project.sed.ui.visualization.object_diagram.property.ObjectPropertySection"
              filter="org.key_project.sed.ui.visualization.object_diagram.property.ObjectTreeFilter"
              id="org.key_project.sed.ui.visualization.object_diagram.property.ObjectPropertySection"
              tab="org.key_project.sed.ui.visualization.object.tab">
        </propertySection>
        <propertySection
              class="org.key_project.sed.ui.visualization.object_diagram.property.StatePropertySection"
              filter="org.key_project.sed.ui.visualization.object_diagram.property.StateTreeFilter"
              id="org.key_project.sed.ui.visualization.object_diagram.property.StatePropertySection"
              tab="org.key_project.sed.ui.visualization.state.tab">
        </propertySection>
        <propertySection
              class="org.key_project.sed.ui.visualization.object_diagram.property.ValuePropertySection"
              filter="org.key_project.sed.ui.visualization.object_diagram.property.ValueTreeFilter"
              id="org.key_project.sed.ui.visualization.object_diagram.property.ValuePropertySection"
              tab="org.key_project.sed.ui.visualization.value.tab">
        </propertySection>
        <propertySection
              class="org.key_project.sed.ui.visualization.object_diagram.property.AssociationPropertySection"
              filter="org.key_project.sed.ui.visualization.object_diagram.property.AssociationTreeFilter"
              id="org.key_project.sed.ui.visualization.object_diagram.property.AssociationPropertySection"
              tab="org.key_project.sed.ui.visualization.association.tab">
        </propertySection>
     </propertySections>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="org.eclipse.debug.ui.category.run"
           description="Generates an Object Diagram which shows the current state."
           id="org.key_project.sed.ui.visualization.visualizeStateCommand"
           name="Visualize State">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.commandImages">
     <image
           commandId="org.key_project.sed.ui.visualization.visualizeStateCommand"
           icon="icons/object_diagram.gif">
     </image>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.key_project.sed.ui.visualization.object_diagram.command.VisualizeStateCommand"
           commandId="org.key_project.sed.ui.visualization.visualizeStateCommand">
        <enabledWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <or>
                 <and>
                    <instanceof
                          value="org.eclipse.debug.core.model.IStackFrame">
                    </instanceof>
                    <instanceof
                          value="org.key_project.sed.core.model.ISEDDebugNode">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.key_project.sed.core.stackFrameHasVariables">
                    </test>
                 </and>
              </or>
           </iterate>
        </enabledWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.key_project.sed.ui.visualization.visualizeStateCommand"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M2+V">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="true"
           locationURI="popup:org.eclipse.debug.ui.DebugView?after=additions">
        <command
              commandId="org.key_project.sed.ui.visualization.visualizeStateCommand"
              icon="icons/object_diagram.gif"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <or>
                    <and>
                       <instanceof
                             value="org.eclipse.debug.core.model.IStackFrame">
                       </instanceof>
                       <instanceof
                             value="org.key_project.sed.core.model.ISEDDebugNode">
                       </instanceof>
                       <test
                             forcePluginActivation="true"
                             property="org.key_project.sed.core.stackFrameHasVariables">
                       </test>
                    </and>
                 </or>
              </iterate>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.key_project.sed.ui.visualization.object_diagram.perspective.StateVisualizationPerspectiveFactory"
           icon="icons/object_diagram.gif"
           id="org.key_project.sed.ui.visualization.stateVisualizationPerspective"
           name="State Visualization">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.key_project.sed.ui.perspective">
        <perspectiveShortcut
              id="org.key_project.sed.ui.visualization.stateVisualizationPerspective">
        </perspectiveShortcut>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.key_project.sed.ui.visualization.util.VisualizationPreferencesInitializer">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.key_project.sed.ui.preference.page.symbolic_debug"
           class="org.key_project.sed.ui.visualization.preference.page.VisualizationPreferencePage"
           id="org.key_project.sed.ui.visualization.preference.page.VisualizationPreferencePage"
           name="Visualization">
     </page>
  </extension>
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="org.key_project.sed.ui.visualization.launch.SETFileLaunchConfigurationDelegate"
           id="org.key_project.sed.ui.visualization.setFile"
           modes="debug"
           name="Symbolic Execution Tree File"
           sourceLocatorId="org.key_project.sed.ui.visualization.setFile.sourceLocator"
           sourcePathComputerId="org.key_project.sed.ui.visualization.setFile.sourcePathComputer">
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
           class="org.key_project.sed.ui.visualization.launch.SETFileLaunchShortcut"
           icon="icons/symbolic_debug.gif"
           id="org.key_project.sed.ui.visualization.setFile.shortcut"
           label="Symbolic Execution Tree File"
           modes="debug">
        <configurationType
              id="org.key_project.sed.ui.visualization.setFile">
        </configurationType>
        <description
              description="Symbolic Execution Debugger based on a SET file"
              mode="debug">
        </description>
        <contextualLaunch>
           <enablement>
              <or>
                 <with
                       variable="selection">
                    <and>
                       <count
                             value="1">
                       </count>
                       <iterate
                             ifEmpty="false"
                             operator="and">
                          <instanceof
                                value="org.eclipse.core.resources.IFile">
                          </instanceof>
                          <test
                                forcePluginActivation="true"
                                property="org.eclipse.core.resources.extension"
                                value="set">
                          </test>
                       </iterate>
                    </and>
                 </with>
              </or>
           </enablement>
        </contextualLaunch>
     </shortcut>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
           configTypeID="org.key_project.sed.ui.visualization.setFile"
           icon="icons/symbolic_debug.gif"
           id="org.key_project.sed.ui.visualization.setFile.typeImage">
     </launchConfigurationTypeImage>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
     <launchConfigurationTabGroup
           class="org.key_project.sed.ui.visualization.launch.SETFileLaunchConfigurationTabGroup"
           id="org.key_project.sed.ui.visualization.setFile.tabGroup"
           type="org.key_project.sed.ui.visualization.setFile">
     </launchConfigurationTabGroup>
  </extension>
  <extension
        point="org.eclipse.debug.core.sourceLocators">
     <sourceLocator
           class="org.key_project.sed.ui.visualization.launch.SETFileSourceLookupDirector"
           id="org.key_project.sed.ui.visualization.setFile.sourceLocator"
           name="SET File Source Locator">
     </sourceLocator>
  </extension>
  <extension
        point="org.eclipse.debug.core.sourcePathComputers">
     <sourcePathComputer
           class="org.key_project.sed.ui.visualization.launch.SETFileSourcePathComputerDelegate"
           id="org.key_project.sed.ui.visualization.setFile.sourcePathComputer">
     </sourcePathComputer>
  </extension>
  <extension
        point="org.eclipse.debug.core.sourceContainerTypes">
     <sourceContainerType
           class="org.key_project.sed.ui.visualization.launch.AbsoluteFileSystemPathSourceContainerTypeDelegate"
           description="Absolute File System Paths"
           id="org.key_project.sed.ui.visualization.absoluteFileSystemPathsSourceContainerType"
           name="Absolute File System Paths">
     </sourceContainerType>
  </extension>
</plugin>
