<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- $Format: " <plugin id=\"VisualDebugger\" name=\"Visual Debugger\" version=\"1.$ProjectVersion$\" provider-name=\"KeY Project\" class=\"visualdebugger.Activator\">"$ -->
 <plugin id="VisualDebugger" name="Visual Debugger" version="1.muerkKeYC.4" provider-name="KeY Project" class="visualdebugger.Activator">

     <extension
         point="org.eclipse.ui.views">
      <category
            name="Symbolic Execution Debugger"
            id="VisualDebugger">
      </category>
      <view
            name="Symbolic Execution Debugger"
            icon="icons/key-small.png"
            category="VisualDebugger"
            class="visualdebugger.views.VisualDebuggerView"
            id="visualdebugger.views.VisualDebuggerView">
      </view>
   </extension>
   
     <extension
         point="org.eclipse.ui.views">
      <category
            name="Breakpoints"
            id="Breakpoints">
      </category>
      <view
            name="Statement Breakpoints"
            icon="icons/key-small.png"
            category="VisualDebugger"
            class="visualdebugger.views.BreakpointView"
            id="visualdebugger.views.BreakpointsView">
      </view>
   </extension>
   
        <extension
         point="org.eclipse.ui.views">
      <view
            name="Execution Tree View"
            icon="icons/key-small.png"
            category="VisualDebugger"
            class="visualdebugger.views.ExecutionTreeView"
            id="visualdebugger.views.ExecutionTreeView">
      </view>
   </extension>
   
          <extension
         point="org.eclipse.ui.views">
      <view
            name="Symbolic State View"
            icon="icons/key-small.png"
            category="VisualDebugger"
            class="visualdebugger.views.SymbolicStateView"
            id="visualdebugger.views.SymbolicStateView">
      </view>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="visualdebugger.views.VisualDebuggerView">
         </view>
                <view
               ratio="0.5"
               relative="org.eclipse.ui.views.Outline"
               relationship="right"
               id="visualdebugger.views.BreakpointsView">
         </view>
      </perspectiveExtension>
  
   </extension>
   
   
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IMethod"
            nameFilter="*"
            id="VisualDebugger.methodContribution">
         <action
               enablesFor="1"
               label="Start Symbolic Execution"
	       icon="icons/key-small.png"
               class="visualdebugger.actions.StartVisualDebuggerAction"
               id="KeYPlugin.methodPOAction"/>
      </objectContribution>
   </extension>



<!--    <super type="org.eclipse.core.resources.textmarker"/> <attribute name="OFFSET"/>          icon="key-small.png" -->


  <extension
         id="bpmarker"
         name="Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
     <persistent value="false"/>
<attribute name="StatementId"/>

<super type="org.eclipse.debug.core.breakpointMarker"/>
 
   </extension>
   
   
<!--     <extension
         id="bpmarker"
         name="Exception Marker"
         point="org.eclipse.core.resources.markers">
     <persistent value="false"/>
<attribute name="StatementId"/>
<super type="org.eclipse.core.resources.textmarker"/>
<super type="org.eclipse.core.resources.breakpointmarker"/>
 
   </extension>-->
	
	

  
<!--- markerSeverity="2"-->
<extension point="org.eclipse.ui.editors.annotationTypes">
<type name="VisualDebugger.BpAnnotationType"
	markerType="VisualDebugger.bpmarker">
	</type>
</extension>


<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
	<specification
		annotationType="VisualDebugger.BpAnnotationType"
		verticalRulerPreferenceKey="BpAnnotationType.rulers.vertical"
		textPreferenceKey="BpAnnotationType.text"
		colorPreferenceKey="BpAnnotationType.color"
		highlightPreferenceKey="BpAnnotationType.background"
		textPreferenceValue="true"
		textStylePreferenceValue="UNDERLINE"
		overviewRulerPreferenceKey="BpAnnotationType.rulers.overview"
		presentationLayer="4"
		highlightPreferenceValue="true"
		label="Breakpoint Annotation"
		colorPreferenceValue="200,50,7"
		verticalRulerPreferenceValue="true"
		overviewRulerPreferenceValue="true"
		textStylePreferenceKey="BpAnnotationType.text.style">
	</specification>
</extension>



<extension point="org.eclipse.jdt.junit.testRunListeners">
<testRunListener class="visualdebugger.VBTestRunListener"/>
</extension>


<extension point="org.eclipse.ui.editors.annotationTypes">

<type name="VisualDebugger.ExceptionAnnotationType"

	markerType="VisualDebugger.exceptionmarker">
	
	</type>
	
</extension>


<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
	<specification
		annotationType="VisualDebugger.ExceptionAnnotationType"
		verticalRulerPreferenceKey="ExceptionAnnotationType.rulers.vertical"
		textPreferenceKey="ExceptionAnnotationType.text"
		colorPreferenceKey="ExceptionAnnotationType.color"
		highlightPreferenceKey="ExceptionAnnotationType.background"
		textPreferenceValue="true"
		textStylePreferenceValue="SQUIGGLES"
		overviewRulerPreferenceKey="ExceptionAnnotationType.rulers.overview"
		presentationLayer="4"
		highlightPreferenceValue="true"
		label="KeY Exception Annotation"
		icon="icons/key-exc.png"
		colorPreferenceValue="200,50,7"
		verticalRulerPreferenceValue="true"
		overviewRulerPreferenceValue="true"
		textStylePreferenceKey="ExceptionAnnotationType.text.style">
	</specification>
</extension>





</plugin>
