name: CodeQuality
on:
  workflow_dispatch:
  merge_group:
  pull_request:
  push:
    branches:
      - main
      - 'KeY-*'

jobs:
  checkerFramework:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'corretto'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.4.2
      - name: Build with Gradle
        run: ./gradlew -DENABLE_NULLNESS=true compileTest

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3.4.2
      - name: SpotlessCheck
        run: ./gradlew --continue spotlessCheck
