name: Javadoc

on:
  push:
    branches: [ "main" ]

jobs:
  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ls -ld
      - run: ls -lh 'gradle'

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.1.0
      - name: Build Documentation with Gradle
        run: ./gradlew alldoc

      - name: Package
        run: tar cvfj javadoc.tar.bz2 build/docs/javadoc

      - name: Upload Javadoc
        uses: actions/upload-artifact@v4
        with:
          name: javadoc
          path: "javadoc.tar.bz2"

#      - name: Trigger workflow in key-javadoc
#        run: gh workflow run -R keyproject/key-javadoc pages.yml -f RUN_ID=${{ github.run_id }}
#        env:
#          GH_TOKEN: ${{ github.token }}
