name: Weekly Builds of KeY

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 5 * * 1' # every monday morning

permissions:
  contents: write
  id-token: write

env:
  JAVA_VERSION: 21


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # weigl: Should produce fancier release notes, but needs some configuration
      # # https://github.com/marketplace/actions/release-changelog-builder
      # - name: "Build Changelog"
      #   id: build_changelog
      #   uses: mikepenz/release-changelog-builder-action@v3.7.0
      #   with:
      #     ignorePreReleases: true
      #     fetchReviewers: true

      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: ./gradlew --parallel assemble

  doc:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'corretto'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build Documentation with Gradle
        run: ./gradlew alldoc

      - name: Package
        run: tar cvf key-javadoc.tar.xz build/docs/javadoc

  deploy:
    needs: [build, doc]
    runs-on: ubuntu-latest
    steps:
      - name: Upload Javadoc
        uses: actions/upload-artifact@v4
        with:
          name: javadoc
          path: "javadoc.tar.xz"

      - name: Upload ShadowJar
        uses: actions/upload-artifact@v4
        with:
          name: shadowjars
          path: "*/build/libs/*-exe.jar"

      - name: Delete previous nightly release
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release delete nightly --yes --cleanup-tag 

      - name: Create nightly release
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |          
          gh release create --generate-notes --title "Nightly Release" \
             --prerelease --notes-start-tag KEY-2.12.3 \
             nightly key.ui/build/libs/key-*-exe.jar

  deploy-maven:
    needs: [ build, doc ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Upload to SNAPSHOT repository
        run: ./gradlew publishToCentral
        env:
          BUILD_NUMBER: "SNAPSHOT"
          ossrhUsername: ${{ secrets.MAVEN_CENTRAL_USER }}
          ossrhPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
