name: Nightly Deployer of Weekly Builds

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 5 * * 1' # every monday morning

permissions:
  contents: write
  id-token: write


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # weigl: Should produce fancier release notes, but needs some configuration
      # # https://github.com/marketplace/actions/release-changelog-builder
      # - name: "Build Changelog"
      #   id: build_changelog
      #   uses: mikepenz/release-changelog-builder-action@v3.7.0
      #   with:
      #     ignorePreReleases: true
      #     fetchReviewers: true

      - uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: ./gradlew --parallel assemble

      - name: Delete previous nightly release
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release delete nightly --yes --cleanup-tag 

      - name: Create nightly release
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |          
          gh release create --generate-notes --title "Nightly Release" \
             --prerelease --notes-start-tag KEY-2.12.3 \
             nightly key.ui/build/libs/key-*-exe.jar
