name: Optional Tests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 */10 * *"

jobs:
  optional-tests:
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: [21]
        name: ["proof_references", "symbolic_execution"]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{matrix.java}}
        uses: actions/setup-java@v5
        with:
          java-version: ${{matrix.java}}
          distribution: 'corretto'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Test with Gradle
        run: ./gradlew --continue :key.core.${{ matrix.name }}:test

      - name: Upload test results
        uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: test-results-${{ matrix.os }}-${{ matrix.name }}
          path: |
            **/build/test-results/*/*.xml
            **/build/reports/            
