name: Broad Release Tests

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 5 * * 1' # every monday morning
  
permissions:
  checks: write

jobs:
  unit-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        java: [21,23]
    continue-on-error: true
    runs-on: ${{ matrix.os }}
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup SMT solvers
        uses: keyproject/setup-smt@v0

      - name: z3 version
        run: z3 --version

      - name: cvc5 version
        run: cvc5 --version


      - name: Set up JDK ${{matrix.java}}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'
          cache: 'gradle'

      - name: Setup Gradle
        uses:
          gradle/actions/setup-gradle@v5
      - name: Test with Gradle
        run: ./gradlew --continue -x :key.core.symbolic_execution:test -x :key.core.proof_references:test test

      - name: Upload test results
        uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: unit-test-results-${{matrix.test}}-${{ matrix.os }}-${{ matrix.java }}
          path: |
            **/build/test-results/*/*.xml
            **/build/reports/
            !**/jacocoTestReport.xml
            

  integration-tests:
    env:
      GH_TOKEN: ${{ github.token }}
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        test: [testProveRules, testRunAllFunProofs, testRunAllInfProofs]
        os: [ macos-latest, ubuntu-latest, windows-latest ]
        java: [21]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup SMT solvers
        uses: keyproject/setup-smt@v0

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: "Running tests: ${{ matrix.test }}"
        run: ./gradlew --continue ${{ matrix.test }}

      - name: Upload test results
        uses: actions/upload-artifact@v6
        if: success() || failure()        # run this step even if a previous step failed
        with:
          name: integration-test-results-${{matrix.test}}-${{ matrix.os }}-${{ matrix.java }}
          path: |
            **/build/test-results/*/*.xml
            key.core/build/reports/runallproofs/*
            **/build/reports/
            !**/jacocoTestReport.xml

